{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Resetar senha' %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
	<section>
		<div class="container pt-5">
            <div class="row justify-content-center mx-auto">
                <div class="col-lg-5 bg-black shadow rounded-custom text-white p-5">
                    <h4><strong>{% trans 'Redefinição de senha enviada' %}</strong></h4>
                    <p class="mt-3">{% trans 'Te enviamos um e-mail com instruções para redefinir sua senha e recuperar sua conta.' %}</p>
                    <ul>
                        <li>
                            {% trans 'Se uma conta existe com o e-mail fornecido você receberá a mensagem em questão de segundos.' %}
                        </li>
                        <li class="mt-2">
                            {% trans 'Se você' %} <b>{% trans 'não' %}</b> {% trans 'recebeu um email, por favor certifique-se que você forneceu o endereço de e-mail correto, já cadastrado em nossa plataforma, verifique também sua pasta de spam.' %}
                        </li>
                    </ul>

                    <button class="btn btn-outline-light neo-bold my-3 col-12 rounded-custom" type="button" disabled>{% trans 'Verifique em seu e-mail' %}</button>
                    <p class="small mt-2">{% trans 'Em caso de dúvidas entre em contato com o suporte.' %}</p>
                </div>
			</div>
		</div> <!-- container -->
	</section>
</main>
{% endblock %}