<div class="modal fade" id="teamsModal" tabindex="-1" aria-labelledby="teamsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teamsModalLabel">Times Brasileiros</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Aqui a tabela será inserida dinamicamente -->
        <table class="table table-striped" id="teamsTable">
          <thead>
            <tr>
              <th>Nome do Time</th>
              <th>Posição</th>
              <th>Pontos</th>
              <th>Gols Marcados</th>
              <th>Gols Sofridos</th>
            </tr>
          </thead>
          <tbody>
            <!-- Os dados dos times serão inseridos aqui -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
