{% load static %}
{% load i18n %}
<div class="vertical-menu">
    <div class="h-100 d-flex flex-column">
        <!-- Sidebar Header (Minimizable) -->
        <div class="sidebar-header text-white p-3 d-flex justify-content-between align-items-center" style="margin-right: 5px" >
            <!-- Substituímos o título e botão pelo logo e favicon -->
            <img id="sidebar-favicon" src="{% static 'img/favicon.png' %}" alt="Favicon" class="logo-minimized" style="display: none;" />
        </div>
        
        <!-- Sidemenu -->
        <div id="sidebar-menu" class="flex-grow-1 overflow-auto">
            <!-- Left Menu Start -->
            <ul class="list-unstyled" id="side-menu">
                <li>
                    <a href="{% url 'jogos_dia' %}" class="waves-effect d-flex align-items-center">
                        <i class="material-icons">sports_esports</i>
                        <span>Lista de Jogos</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'lista_ligas' %}" class="waves-effect d-flex align-items-center">
                        <i class="material-icons">emoji_events</i>
                        <span>Lista de Ligas</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
