{% load i18n %}
{% load static %}

{% get_current_language as CURRENT_LANGUAGE %}
{% if CURRENT_LANGUAGE == 'pt-br' %}
<script type="text/javascript">
    var translations = {
    confirm_change_game: "Ao trocar o \"Tipo de Game\", todas as seguintes informações relacionadas a essa sala serão definitivamente perdidas:\n- Estratégias\n- Resultados\n- Operações\n\nEssa ação não poderá ser desfeita, você tem certeza que deseja continuar?",
    confirm_zero_result_room: "Ao confirmar, todo o histórico de resultados da sala será zerado.\n\nObs: Os resultados individuais de cada estratégia não serão zerados, somente serão zerados os resultados da sala.\n\n Deseja continuar?",
    confirm_zero_result_strategies: "Ao confirmar, todo o histórico de resultados de todas as estratégias dessa sala serão zerados.\n\nObs: Os resultados da sala não serão zerados, somente serão zerados os resultados das estratégias.\n\n Deseja continuar?",
    alert_change_application: "Ao trocar o \"Aplicativo\", suas estratégias serão Desligadas e o tipo de conteúdo delas será alterado para Texto, por motivo de compatibilidade de funcionalidades. Basta acessá-las novamente para religá-las.",
    result_cleaned: "Resultados zerados!",
    validating: "Validando...",
    copied: "Copiado!",
    to_save: "Salvar",
    to_check: "Verificar",
    checking: "Verificando",
    to_apply: "Aplicar",
    saved_success: "Salvo com sucesso!",
    strategy_copied_form: "Vá até o formulário de estratégia, clique no botão \"Estratégias\" e aplique a estratégia copiada da vitrine.",
    apply_links_from: "Aplicar links da",
    links_applied: "Links aplicados!",
    info_about_links: "Alguns links não foram aplicados porquê não os encontramos, caso você os encontre fique a vontade para inseri-los mais tarde.",
    extra_configs: "Configurações Adicionais",
    click_to_expand: "Clique para expandir",
    click_to_retract: "Clique para recolher",
    strategy_solo: "Solo",
    strategy_multi: "Multi Sinais",
    duplicate_strategy: "Duplicar estratégia",
    ask_duplicate_strategy: "Deseja duplicar a estratégia",
    delete_results_strategy: "Resetar",
    ask_delete_results_strategy: "Deseja resetar os resultados e operações da estratégia",
    filter_title_strategies: "Estratégias",
    filter_title_groups: "Salas",
    nothing_found: "Nada encontrado...",
    previous: "Anterior",
    next: "Próxima",
    analyzing: "🚨 **ANALISANDO** 🚨",
    confirmation: "💰 **ENTRADA CONFIRMADA** 💰",
    closure: "💰 **APOSTA ENCERRADA** 💰",
    table: "🎰 **Mesa:** [{table1}]({link1})",
    site: "📱 **Site:** [{table1}]({link1})",
    minbet: "✅ **Entrada mínima:** {minbet}",
    gamblers: "🤵🏽 **Jogadores na mesa:** {gamblers}",
    protect_tie: "👉 **Proteger o empate**",
    strategy: "🎲 **Estratégia: {strategy}**",
    gales: "🔁 **Fazer até {gales} gales**",
    sequence: "🚥 **Sequência:** {sequence}",
    sequence_sicbo: "🚥 **Sequência:** {sequencesum}",
    cover_zero: "👉 **Cobrir o zero**",
    cover_white: "👉 **Cobrir o ⚪** ",
    last_spin_bet: "💰 **Entrar após o {lastspin} apostar {bet}**",
    last_spin_bet_sicbo: "💰 **Entrar após o {lastspinsum} apostar {bet}**",
    entry_after_last_spin: "👉 **Entrar após o {lastspin}**",
    get_out_in: "💰 **Sair em {bet}**",
    green: "✅✅✅ **GREEN!!!** 👍 ({result})",
    green_sicbo: "✅✅✅ **GREEN!!!** 👍 ({result})",
    red: "RED ❌ ({result})",
    red_sicbo: "RED ❌ ({resultsum})",
    save_new_pattern: "Salvar novo padrão de mensagens?",
    load_pattern: "Carregar padrão de mensagens existente?",
    model_1: "Modelo 1",
    model_2: "Modelo 2",
    save_own_model: "Salvar Modelo Próprio",
    load_own_model: "Carregar Modelo Próprio",
    keywords: "Palavras Chaves",
    emojis: "Emojis 🔥🚀",
    verify_markdown: "Parece que o markdown das mensagens contém erros na utilização de **, por favor verifique.",
    please_fix_it: "por favor corrija:",
    fix_keywords: "As seguintes palavras chaves não existem,",
    keywords_validation: "As seguintes palavras chaves não podem ser usadas na mensagem de",
    daily_result: "resultado diário",
    martingale: "martingale",
    score: "placar",
    correct: "correto",
    incorrect: "incorreto",
    bot_token: "Bot Token",
    bot_username: "o username do seu bot é",
    please_insert: "Por favor insira o",
    searching_group: "Buscando Canal/Grupo...",
    finded_group: "Encontramos o Grupo:",
    finded_channel: "Encontramos o Canal/Grupo:",
    name_group: "Nome:",
    do_it_now: "Faça isso agora:",
    must_put: "Você deve colocar",
    as_admin: "como admin do Canal/Grupo.",
    case_already: "Caso já esteja como admin, remova-o.",
    by_last: "Por último, você deve colocar",
    admin_again: "como admin do Canal/Grupo novamente.",
    after_done: "Após fazer isso, clique para verificar denovo",
    change_historic: "Você deve mudar a opção do histórico do chat para Visível ou Oculto, tanto faz, simplesmente mude agora, depois você pode deixar essa opção como quiser.",
    not_possible: "Não foi possível acessar o Canal/Grupo",
    verify_it: "Verifique isso:",
    did_you: "Você colocou",
    try_admin_again: "como admin do Canal/Grupo? Tente remover e colocar novamente, como admin.",
    validating_permissions: "Validando permissões...",
    incorrect_permissions: "Permissões incorretas",
    give_permissions: "Você precisa dar as seguintes permissões para o bot:",
    post_messages: "Postar mensagens",
    all_correct: "Tudo certo!",
    integration_correct: "Integração correta",
    ask_chat_id: "O Chat ID está correto?",
    message_result_model_group: "Modelo total da sala",
    message_result_model_strategy: "Modelo de cada estratégia",
    message_result_group_day: "🤖 *Resultado total do dia {date}* 🤖",
    message_result_strategy_day: "🤖 *Resultado do dia {date}* 🤖",
    message_result_total: "✅ *Total de sinais*: {total}",
    message_result_strategy: "🎲 *Estratégia*: {strategy}",
    message_result_red: "❌ *Red*: {red}",
    message_result_green: "💰 *Green*: {green}",
    message_result_assertiveness: "🎯 *Assertividade*: {assertiveness}%",
    message_result_operations: "🎲 *Operações* 🎲",
    message_result_keys_operations: "[🕒 {hour} {result}]",
    toast_title_success: "Sucesso",
    toast_subtitle_success: "Suas alterações foram salvas com sucesso.",
    toast_title_erro: "Erro",
    toast_subtitle_erro: "Erro ao salvar alterações.",
    toast_title_info: "Info",
    toast_subtitle_info: "Atenção:",
    toast_title_warning: "Aviso",
    toast_subtitle_warning: "Aviso:",
    validating_signal: "🔔 **Validando Entrada** 🔔",
    access_link: "🔗 **Link de acesso:** [{table1}]({link1})",
    confirmation_signal: "💰 **Entrada Confirmada** 💰",
    finished_signal: "🔹 **Sinal Finalizado** 🔹",
    attempts_signal: "🔁 **Nº de tentativas:** {gales}",
    validity_signal: "🕑 **Válido até:** {validity}",
    ended_signal: "🕑 **Finalizado às:** {validity}",
    qtd_mines: "💣 **Minas:** 3",
    strategy_signal: "⬇️ **Estratégia:** {strategy}",
    interleaving_signal: "🚥 **Intercalando**",
    normal_signal: "👉 5x **Normal**",
    turbo_signal: "⚡ 5x **Turbo**",
    normalspin_signal: "👉 {normalspin}x **Normal**",
    automaticspin_signal: "⚡ {automaticspin}x **Automático**",
    copy_error: "Ops! Parece que você ainda não copiou nenhuma estratégia da vitrine que funcione com esses jogos/mesas.",
    applied: "Aplicado",
    all_roulettes: "Todas",
    any_roulettes: "Nenhuma",
    searching_groups: "Procurando grupos...",
    select_group: "Selecione um Grupo",
    unexpected_error: "Erro Inesperado, tente novamente.",
    wish_integrate: "Deseja realizar a integração de uma nova conta de whatsapp?",
    added_success: "Conta de whatsapp adicionada com sucesso!\n\nFaça a conexão!",
    added_error: "Não foi possível criar uma nova conta!\n\nMotivo:",
    add_whats_erro: "Erro ao adicionar conta de whatsapp.",
    scan_qrcode: "Escaneie o QR Code e clique em continuar",
    to_continue: "Continuar",
    session_disconnected: "Sessão desconectada!",
    session_connected: "Sessão conectada!",
    make_connection: "Realize a conexão",
    to_close: "Fechar",
    
    request_sent: "Solicitação enviada, aguarde...",
    disable_client: "Realmente deseja desativar o cliente",
    reactivate_client: "Deseja reativar o cliente",
    disable_room: "Realmente deseja desligar a sala",
    reactivate_room: "Deseja ligar a sala",
    delete_room: "Deseja deletar a sala",
    
    choose_file: "Escolher arquivo",
    please_choose_file: "Por favor, selecione um arquivo primeiro.",
    loading_file: "Carregando arquivo...",
    character_limit: "Nome de arquivo muito longo, máximo de 200 caracteres.",
};
</script>

{% elif CURRENT_LANGUAGE == 'en' %}
<script type="text/javascript">
    var translations = {
    confirm_change_game: "When changing the\"Game type\", all following information related to that room will be lost permanently:\n- Strategies\n- Results\n- Operations\n\nThis action cannot be undone, are you sure you want to continue?",
    confirm_zero_result_room: "After confirmation, the entire room result history will be reset.\n\nObs: The individual results of each strategy will not be reset, only the room results will be reset.\n\n Do you wish to continue?",
    confirm_zero_result_strategies: "After confirmation, the entire result history of all strategies in that room will be reset.\n\nObs: The results of the room will not be reset, only the results of the strategies will be reset.\n\n Do you wish to continue?",
    alert_change_application: "When changing the \"Application\", your strategies will be turned off and their content type will be changed to Text, for functionality compatibility reasons. Just access them again to turn them back on.",
    result_cleaned: "Zero results!",
    validating: "Validating...",
    copied: "Copied!",
    to_save: "To save",
    to_check: "Check",
    checking: "Checking",
    to_apply: "To apply",
    saved_success: "Saved successfully!",
    strategy_copied_form: "Go to the strategy form, click on the button \"Strategies\" and apply the strategy copied from the showcase.",
    apply_links_from: "Apply links from",
    links_applied: "Applied links!",
    info_about_links: "Some links were not applied because we couldn't find them, if you find them feel free to add them later.",
    extra_configs: "Additional Settings",
    click_to_expand: "Click to expand",
    click_to_retract: "Click to collect",
    strategy_solo: "Ground",
    strategy_multi: "Multi Signals",
    duplicate_strategy: "Duplicate strategy",
    ask_duplicate_strategy: "Want to duplicate the strategy",
    delete_results_strategy: "Reset",
    ask_delete_results_strategy: "Do you want to reset the results and operations of the strategy",
    filter_title_strategies: "Strategies",
    filter_title_groups: "Rooms",
    nothing_found: "Nothing found...",
    previous: "Previous",
    next: "Next",
    analyzing: "🚨 **ANALYZING** 🚨",
    confirmation: "💰 **ENTRY CONFIRMED** 💰",
    closure: "💰 **BET CLOSED** 💰",
    table: "🎰 **Table:** [{table1}]({link1})",
    site: "📱 **Site:** [{table1}]({link1})",
    minbet: "✅ **Minimum entry:** {minbet}",
    gamblers: "🤵🏽 **Players at the table:** {gamblers}",
    protect_tie: "👉 **Protect the draw**",
    strategy: "🎲 **Strategies: {strategy}**",
    gales: "🔁 **Do this until {gales} gales**",
    sequence: "🚥 **Sequence:** {sequence}",
    sequence_sicbo: "🚥 **Sequence:** {sequencesum}",
    cover_zero: "👉 **Cover the zero**",
    cover_white: "👉 **Cover the ⚪** ",
    last_spin_bet: "💰 **After {lastspin} to bet {bet}**",
    last_spin_bet_sicbo: "💰 **After {lastspinsum} to bet {bet}**",
    entry_after_last_spin: "👉 **After {lastspin}**",
    get_out_in: "💰 **Exit in {bet}**",
    green: "✅✅✅ **GREEN!!!** 👍 ({result})",
    green_sicbo: "✅✅✅ **GREEN!!!** 👍 ({result})",
    red: "RED ❌ ({result})",
    red_sicbo: "RED ❌ ({resultsum})",
    save_new_pattern: "Save new message pattern?",
    load_pattern: "Load existing message pattern?",
    model_1: "Model 1",
    model_2: "Model 2",
    save_own_model: "Save Own Model",
    load_own_model: "Load Own Model",
    keywords: "Keywords",
    emojis: "Emojis 🔥🚀",
    verify_markdown: "It appears that the message markdown contains errors in the use of **, please check.",
    please_fix_it: "Please correct:",
    fix_keywords: "The following keywords do not exist,",
    keywords_validation: "The following keywords do not exist,",
    daily_result: "daily result",
    martingale: "martingale",
    score: "scoreboard",
    correct: "correct",
    incorrect: "incorrect",
    bot_token: "Bot Token",
    bot_username: "your bot's username is",
    please_insert: "Please insert the",
    searching_group: "Searching Channel/Group...",
    finded_group: "We found the Group:",
    finded_channel: "We found the Channel/Group:",
    name_group: "Name:",
    do_it_now: "Do it now:",
    must_put: "You must put",
    as_admin: "as Channel/Group admin.",
    case_already: "If you are already an admin, remove it.",
    by_last: "Lastly, you must put",
    admin_again: "as Channel/Group admin again.",
    after_done: "After doing this, click to check again",
    change_historic: "You must change the chat history option to Visible or Hidden, it doesn't matter, simply change it now, later you can leave this option as you want.",
    not_possible: "Unable to access Channel/Group",
    verify_it: "Check this:",
    did_you: "You put",
    try_admin_again: "as Channel/Group admin? Try removing and reinstalling as admin.",
    validating_permissions: "Validating permissions...",
    incorrect_permissions: "Incorrect permissions",
    give_permissions: "You need to give the following permissions to the bot:",
    post_messages: "Post messages",
    all_correct: "All very well!",
    integration_correct: "Correct integration",
    ask_chat_id: "Chat ID is correct?",
    message_result_model_group: "Total room model",
    message_result_model_strategy: "Model of each strategy",
    message_result_group_day: "🤖 *Total result of the day {date}* 🤖",
    message_result_strategy_day: "🤖 *Result of the day {date}* 🤖",
    message_result_total: "✅ *Total signals*: {total}",
    message_result_strategy: "🎲 *Strategy*: {strategy}",
    message_result_red: "❌ *Red*: {red}",
    message_result_green: "💰 *Green*: {green}",
    message_result_assertiveness: "🎯 *Assertiveness*: {assertiveness}%",
    message_result_operations: "🎲 *Operations* 🎲",
    message_result_keys_operations: "[🕒 {hour} {result}]",
    toast_title_success: "Success",
    toast_subtitle_success: "Your changes have been saved successfully.",
    toast_title_erro: "Error",
    toast_subtitle_erro: "Error saving changes.",
    toast_title_info: "Info",
    toast_subtitle_info: "Attention:",
    toast_title_warning: "Notice",
    toast_subtitle_warning: "Notice:",
    validating_signal: "🔔 **Validating Input** 🔔",
    access_link: "🔗 **Access link:** [{table1}]({link1})",
    confirmation_signal: "💰 **Confirmed Entry** 💰",
    finished_signal: "🔹 **Finished Signal** 🔹",
    attempts_signal: "🔁 **Number of attempts:** {gales}",
    validity_signal: "🕑 **Valid until:** {validity}",
    ended_signal: "🕑 **Finished at:** {validity}",
    qtd_mines: "💣 **Mines:** 3",
    strategy_signal: "⬇️ **Strategy:** {strategy}",
    interleaving_signal: "🚥 **Interleaving**",
    normal_signal: "👉 5x **Normal**",
    turbo_signal: "⚡ 5x **Turbo**",
    normalspin_signal: "👉 {normalspin}x **Normal**",
    automaticspin_signal: "⚡ {automaticspin}x **Automatic**",
    copy_error: "Oops! It looks like you haven't copied any strategies from the showcase that work with these games/tables yet.",
    applied: "Applied",
    all_roulettes: "All",
    any_roulettes: "None",
    searching_groups: "Looking for groups...",
    select_group: "Select a Group",
    unexpected_error: "Unexpected error, try again.",
    wish_integrate: "Do you want to integrate a new WhatsApp account?",
    added_success: "WhatsApp account added successfully!\n\nMake the connection!",
    added_error: "Unable to create a new account!\n\nReason:",
    add_whats_erro: "Error adding whatsapp account.",
    scan_qrcode: "Scan the QR Code and click continue",
    to_continue: "Continue",
    session_disconnected: "Session disconnected!",
    session_connected: "Session connected!!",
    make_connection: "Make the connection",
    to_close: "To close",

    request_sent: "Request sent, please wait...",
    disable_client: "Really want to deactivate the client",
    reactivate_client: "Do you want to reactivate the client",
    disable_room: "Really want to turn off the room",
    reactivate_room: "Do you want to turn on the room",
    delete_room: "Do you want to delete the room",

    choose_file: "Choose file",
    please_choose_file: "Please, select a file first.",
    loading_file: "Loading file...",
    character_limit: "File name too long, maximum 200 characters.",
};
</script>

{% elif CURRENT_LANGUAGE == 'es' %}
<script type="text/javascript">
    var translations = {
    confirm_change_game: "Al cambiar el\"Tipo de juego\", toda la siguiente información relacionada con esa sala se perderá permanentemente:\n- Estrategias\n- Resultados\n- Operaciones\n\nEsta acción no se puede deshacer, ¿estás seguro de que quieres continuar?",
    confirm_zero_result_room: "Después de la confirmación, se restablecerá todo el historial de resultados de la sala.\n\nObs: Los resultados individuales de cada estrategia no se restablecerán, solo se restablecerán los resultados de la sala.\n\n ¿Desea continuar?",
    confirm_zero_result_strategies: "Después de la confirmación, se restablecerá todo el historial de resultados de todas las estrategias en esa sala.\n\nObs: Los resultados de la sala no se restablecerán, solo se restablecerán los resultados de las estrategias.\n\n ¿Deseas ¿continuar?",
    alert_change_application: "Al cambiar la \"Aplicación\", sus estrategias se desactivarán y su tipo de contenido se cambiará a Texto, por razones de compatibilidad de funcionalidad. Simplemente acceda a ellas nuevamente para volver a activarlas.",
    result_cleaned: "¡Cero resultados!",
    validating: "Validando...",
    copied: "Copiado!",
    to_save: "Ahorrar",
    to_check: "Controlar",
    checking: "Comprobación",
    to_apply: "Aplicar",
    saved_success: "Guardado exitosamente!",
    strategy_copied_form: "Vaya al formulario de estrategia, haga clic en el botón \"Estrategias\" y aplique la estrategia copiada del escaparate.",
    apply_links_from: "Aplicar enlaces de",
    links_applied: "Enlaces aplicados!",
    info_about_links: "Algunos enlaces no se aplicaron porque no pudimos encontrarlos. Si los encuentras, no dudes en agregarlos más tarde..",
    extra_configs: "Ajustes adicionales",
    click_to_expand: "Haga clic para ampliar",
    click_to_retract: "Haga clic para recoger",
    strategy_solo: "Suelo",
    strategy_multi: "Señales múltiples",
    duplicate_strategy: "Estrategia duplicada",
    ask_duplicate_strategy: "Quiere duplicar la estrategia",
    delete_results_strategy: "Resetear",
    ask_delete_results_strategy: "¿Quieres resetear los resultados y operaciones de la estrategia",
    filter_title_strategies: "Strategies",
    filter_title_groups: "Habitaciones",
    nothing_found: "Nada Encontrado...",
    previous: "Previa",
    next: "Próximo",
    analyzing: "🚨 **ANALIZANDO** 🚨",
    confirmation: "💰 **ENTRADA CONFIRMADA** 💰",
    closure: "💰 **APUESTA CERRADA** 💰",
    table: "🎰 **Mesa:** [{table1}]({link1})",
    site: "📱 **Sitio:** [{table1}]({link1})",
    minbet: "✅ **Entrada mínima:** {minbet}",
    gamblers: "🤵🏽 **Jugadores en la mesa:** {gamblers}",
    protect_tie: "👉 **Proteger o empatar**",
    strategy: "🎲 **Estrategias: {strategy}**",
    gales: "🔁 **Haz esto hasta {gales} gales**",
    sequence: "🚥 **Secuencia:** {sequence}",
    sequence_sicbo: "🚥 **Secuencia:** {sequencesum}",
    cover_zero: "👉 **Cubrir el rasguño**",
    cover_white: "👉 **Cubrir el ⚪** ",
    last_spin_bet: "💰 **Iniciar sesión después {lastspin} apostar {bet}**",
    last_spin_bet_sicbo: "💰 **Iniciar sesión después {lastspinsum} apostar {bet}**",
    entry_after_last_spin: "👉 **Iniciar sesión después {lastspin}**",
    get_out_in: "💰 **Salir en {bet}**",
    green: "✅✅✅ **GREEN!!!** 👍 ({result})",
    green_sicbo: "✅✅✅ **GREEN!!!** 👍 ({result})",
    red: "RED ❌ ({result})",
    red_sicbo: "RED ❌ ({resultsum})",
    save_new_pattern: "¿Guardar nuevo patrón de mensaje?",
    load_pattern: "¿Cargar el patrón de mensaje existente?",
    model_1: "Modelo 1",
    model_2: "Modelo 2",
    save_own_model: "Guardar propio modelo",
    load_own_model: "Subir modelo propio",
    keywords: "Palabras clave",
    emojis: "Emojis 🔥🚀",
    verify_markdown: "Parece que la rebaja del mensaje contiene errores en el uso de **, verifíquelo.",
    please_fix_it: "Por favor corrija:",
    fix_keywords: "Las siguientes palabras clave no existen,",
    keywords_validation: "Las siguientes palabras clave no existen,",
    daily_result: "resultado diario",
    martingale: "martingale",
    score: "marcador",
    correct: "correcto",
    incorrect: "incorrecto",
    bot_token: "Bot Token",
    bot_username: "el nombre de usuario de tu bot es",
    please_insert: "Por favor inserte el",
    searching_group: "Buscando canal/grupo...",
    finded_group: "Nosotros encontramos el grupo:",
    finded_channel: "Nosotros encontramos el Canal / Grupo:",
    name_group: "Nombre:",
    do_it_now: "Hazlo ahora:",
    must_put: "debes poner",
    as_admin: "como administrador de canal/grupo.",
    case_already: "Si ya eres administrador, elimínalo.",
    by_last: "Por último debes poner",
    admin_again: "como administrador de canal/grupo nuevamente.",
    after_done: "Después de hacer esto, haga clic para verificar nuevamente.",
    change_historic: "Debes cambiar la opción del historial de chat a Visible u Oculto, no importa, simplemente cámbialo ahora, luego podrás dejar esta opción como quieras.",
    not_possible: "No se puede acceder al canal/grupo",
    verify_it: "Mira esto:",
    did_you: "Pones",
    try_admin_again: "¿Como administrador de canal/grupo? Intente eliminarlo y reinstalarlo como administrador.",
    validating_permissions: "Validando permisos...",
    incorrect_permissions: "Permisos incorrectos",
    give_permissions: "Debe otorgar los siguientes permisos al bot:",
    post_messages: "Publicar mensajes",
    all_correct: "Todo muy bien!",
    integration_correct: "Integración correcta",
    ask_chat_id: "¿La ID del chat es correcta?",
    message_result_model_group: "Modelo de habitación total",
    message_result_model_strategy: "Modelo de cada estrategia",
    message_result_group_day: "🤖 *Resultado total del día. {date}* 🤖",
    message_result_strategy_day: "🤖 *Resultado del dia {date}* 🤖",
    message_result_total: "✅ *Señales totales*: {total}",
    message_result_strategy: "🎲 *Estrategia*: {strategy}",
    message_result_red: "❌ *Red*: {red}",
    message_result_green: "💰 *Green*: {green}",
    message_result_assertiveness: "🎯 *Asertividad*: {assertiveness}%",
    message_result_operations: "🎲 *Operaciones* 🎲",
    message_result_keys_operations: "[🕒 {hour} {result}]",
    toast_title_success: "Éxito",
    toast_subtitle_success: "Sus cambios se han guardado correctamente.",
    toast_title_erro: "Error",
    toast_subtitle_erro: "Error al guardar los cambios.",
    toast_title_info: "Información",
    toast_subtitle_info: "Atención:",
    toast_title_warning: "Aviso",
    toast_subtitle_warning: "Aviso:",
    validating_signal: "🔔 **Validación de entrada** 🔔",
    access_link: "🔗 **Enlace de acceso:** [{table1}]({link1})",
    confirmation_signal: "💰 **Entrada confirmada** 💰",
    finished_signal: "🔹 **Señal terminada** 🔹",
    attempts_signal: "🔁 **Número de intentos:** {gales}",
    validity_signal: "🕑 **Válido hasta:** {validity}",
    ended_signal: "🕑 **Terminado en:** {validity}",
    qtd_mines: "💣 **Minas:** 3",
    strategy_signal: "⬇️ **Estrategia:** {strategy}",
    interleaving_signal: "🚥 **Intercalado**",
    normal_signal: "👉 5x **Normal**",
    turbo_signal: "⚡ 5x **Turbo**",
    normalspin_signal: "👉 {normalspin}x **Normal**",
    automaticspin_signal: "⚡ {automaticspin}x **Automático**",
    copy_error: "¡Ups! Parece que aún no has copiado ninguna estrategia del escaparate que funcione con estos juegos/mesas.",
    applied: "Aplicado",
    all_roulettes: "Toda",
    any_roulettes: "Ninguno",
    searching_groups: "Buscando grupos...",
    select_group: "Seleccione un grupo",
    unexpected_error: "Error inesperado, inténtalo de nuevo.",
    wish_integrate: "¿Quieres integrar una nueva cuenta de WhatsApp?",
    added_success: "¡La cuenta de WhatsApp se agregó correctamente!\n\n¡Realiza la conexión!",
    added_error: "¡No se puede crear una cuenta nueva!\n\nMotivo:",
    add_whats_erro: "Error al agregar cuenta de whatsapp.",
    scan_qrcode: "Escanee el código QR y haga clic en continuar",
    to_continue: "Continuar",
    session_disconnected: "¡Sesión desconectada!",
    session_connected: "¡Sesión conectada!!",
    make_connection: "Haz la conexión",
    to_close: "Cerrar",

    request_sent: "Solicitud enviada, por favor espere...",
    disable_client: "¿Quieres desactivar el cliente",
    reactivate_client: "¿Quieres reactivar al client",
    disable_room: "¿Realmente quiero salir de grupo",
    reactivate_room: "¿Quieres encender el grupo",
    delete_room: "¿Quieres eliminar el grupo",

    choose_file: "Elija el archivo",
    please_choose_file: "Por favor, seleccione un archivo primero.",
    loading_file: "Cargando archivo...",
    character_limit: "Nombre de archivo demasiado largo, máximo 200 caracteres.",
};
</script>

{% elif CURRENT_LANGUAGE == 'hi' %}
<script type="text/javascript">
    var translations = {
    confirm_change_game: '\"गेम प्रकार\n" को बदलते समय, उस कमरे से संबंधित निम्नलिखित सभी जानकारी स्थायी रूप से खो जाएगी:\n- रणनीतियाँ\n- परिणाम\n- संचालन\n\nइस क्रिया को पूर्ववत नहीं किया जा सकता, क्या आप वाकई ऐसा चाहते हैं जारी रखने के लिए?',
    confirm_zero_result_room: "पुष्टि होने पर, संपूर्ण कक्ष परिणाम इतिहास रीसेट कर दिया जाएगा।\n\nनोट: प्रत्येक रणनीति के व्यक्तिगत परिणाम रीसेट नहीं किए जाएंगे, केवल रूम परिणाम रीसेट किए जाएंगे।\n\n क्या आप जारी रखना चाहते हैं?",
    confirm_zero_result_strategies: "पुष्टि होने पर, उस कमरे में सभी रणनीतियों के परिणामों का संपूर्ण इतिहास रीसेट कर दिया जाएगा।\n\nनोट: रूम के परिणाम रीसेट नहीं किए जाएंगे, केवल रणनीतियों के परिणाम रीसेट किए जाएंगे।\n\n क्या आप जारी रखना चाहते हैं?",
    alert_change_application: "\"एप्लिकेशन\" को बदलते समय, आपकी रणनीतियों को बंद कर दिया जाएगा और कार्यक्षमता संगतता कारणों से उनकी सामग्री प्रकार को टेक्स्ट में बदल दिया जाएगा। उन्हें वापस चालू करने के लिए बस उन्हें फिर से एक्सेस करें।",
    result_cleaned: "परिणाम शून्य!",
    validating: "सत्यापन किया जा रहा है...",
    copied: "नकल की गई!",
    to_save: "बचाने के लिए",
    to_check: "जाँच करने के लिए",
    checking: "चेकिंग",
    to_apply: "लगा देना",
    saved_success: "सफलतापूर्वक बचाया!",
    strategy_copied_form: "रणनीति फॉर्म पर जाएं, \"रणनीतियां\" बटन पर क्लिक करें और शोकेस से कॉपी की गई रणनीति लागू करें।",
    apply_links_from: "से लिंक लागू करें",
    links_applied: "लिंक लागू!",
    info_about_links: "कुछ लिंक लागू नहीं किए गए क्योंकि हम उन्हें ढूंढ नहीं सके, यदि आपको वे मिल जाएं तो बेझिझक उन्हें बाद में जोड़ सकते हैं।",
    extra_configs: "अतिरिक्त सेटिंग्स",
    click_to_expand: "विस्तार करने के लिए क्लिक करें",
    click_to_retract: "एकत्र करने के लिए क्लिक करें",
    strategy_solo: "मैदान",
    strategy_multi: "मल्टी सिग्नल",
    duplicate_strategy: "डुप्लिकेट रणनीति",
    ask_duplicate_strategy: "रणनीति की नकल करना चाहते हैं",
    delete_results_strategy: "रीसेट",
    ask_delete_results_strategy: "क्या आप रणनीति के परिणाम और संचालन को रीसेट करना चाहते हैं?",
    filter_title_strategies: "रणनीतियाँ",
    filter_title_groups: "कमरा",
    nothing_found: "कुछ भी नहीं मिला...",
    previous: "पहले का",
    next: "अगला",
    analyzing: "🚨 **का विश्लेषण** 🚨",
    confirmation: "💰 **प्रवेश की पुष्टि हो गई** 💰",
    closure: "💰 **शर्त बंद** 💰",
    table: "🎰 **मेज़:** [{table1}]({link1})",
    site: "📱 **साइट:** [{table1}]({link1})",
    minbet: "✅ **न्यूनतम प्रविष्टि:** {minbet}",
    gamblers: "🤵🏽 **मेज पर खिलाड़ी:** {gamblers}",
    protect_tie: "👉 **ड्रा को सुरक्षित रखें**",
    strategy: "🎲 **रणनीति: {strategy}**",
    gales: "🔁 **तब तक करो {gales} वेल्श**",
    sequence: "🚥 **अनुक्रम:** {sequence}",
    sequence_sicbo: "🚥 **अनुक्रम:** {sequencesum}",
    cover_zero: "👉 **खरोंच को ढकें**",
    cover_white: "👉 **⚪ को कवर करें** ",
    last_spin_bet: "💰 **इसके बाद लॉग इन करें {lastspin} शर्त लगाने के लिए {bet}**",
    last_spin_bet_sicbo: "💰 **इसके बाद लॉग इन करें {lastspinsum} शर्त लगाने के लिए {bet}**",
    entry_after_last_spin: "👉 **इसके बाद लॉग इन करें {lastspin}**",
    get_out_in: "💰 **अंदर बाहर निकलें {bet}**",
    green: "✅✅✅ **हरा!!!** 👍 ({result})",
    green_sicbo: "✅✅✅ **हरा!!!** 👍 ({result})",
    red: "लाल ❌ ({result})",
    red_sicbo: "लाल ❌ ({resultsum})",
    save_new_pattern: "नया संदेश पैटर्न सहेजें?",
    load_pattern: "मौजूदा संदेश पैटर्न लोड करें?",
    model_1: "मॉडल 1",
    model_2: "मॉडल 2",
    save_own_model: "अपना मॉडल सहेजें",
    load_own_model: "अपना मॉडल अपलोड करें",
    keywords: "कीवर्ड",
    emojis: "इमोटिकॉन 🔥🚀",
    verify_markdown: "ऐसा प्रतीत होता है कि संदेश मार्कडाउन में ** के उपयोग में त्रुटियां हैं, कृपया जांचें।",
    please_fix_it: "कृपया सही करें:",
    fix_keywords: "निम्नलिखित कीवर्ड मौजूद नहीं हैं,",
    keywords_validation: "संदेश में निम्नलिखित कीवर्ड का उपयोग नहीं किया जा सकता",
    daily_result: "दैनिक परिणाम",
    martingale: "ज़रेबंद",
    score: "स्कोर बोर्ड",
    correct: "सही",
    incorrect: "गलत",
    bot_token: "बॉट टोकन",
    bot_username: "आपके बॉट का उपयोगकर्ता नाम है",
    please_insert: "कृपया सम्मिलित करें",
    searching_group: "चैनल/समूह खोजा जा रहा है...",
    finded_group: "हमें समूह मिला:",
    finded_channel: "हमें चैनल/समूह मिला:",
    name_group: "नाम:",
    do_it_now: "अभी करो:",
    must_put: "आपको अवश्य लगाना चाहिए",
    as_admin: "चैनल/समूह व्यवस्थापक के रूप में.",
    case_already: "यदि आप पहले से ही व्यवस्थापक हैं, तो इसे हटा दें.",
    by_last: "अंत में आपको डालना होगा",
    admin_again: "चैनल/ग्रुप एडमिन के रूप में फिर से।",
    after_done: "ऐसा करने के बाद दोबारा चेक करने के लिए क्लिक करें",
    change_historic: "आपको चैट हिस्ट्री विकल्प को विज़िबल या हिडन में बदलना होगा, इससे कोई फर्क नहीं पड़ता, बस इसे अभी बदल दें, बाद में आप इस विकल्प को अपनी इच्छानुसार छोड़ सकते हैं।",
    not_possible: "चैनल/समूह तक पहुंचने में असमर्थ",
    verify_it: "इसे देखो:",
    did_you: "आप रखें",
    try_admin_again: "चैनल/समूह व्यवस्थापक के रूप में? व्यवस्थापक के रूप में हटाने और पुनः स्थापित करने का प्रयास करें।",
    validating_permissions: "अनुमतियाँ मान्य की जा रही हैं...",
    incorrect_permissions: "ग़लत अनुमतियाँ",
    give_permissions: "आपको बॉट को निम्नलिखित अनुमतियाँ देनी होंगी:",
    post_messages: "संदेश पोस्ट करें",
    all_correct: "सब बहुत अच्छा है!",
    integration_correct: "सही एकीकरण",
    ask_chat_id: "क्या चैट आईडी सही है?",
    message_result_model_group: "कुल कक्ष मॉडल",
    message_result_model_strategy: "प्रत्येक रणनीति का मॉडल",
    message_result_group_day: "🤖 *दिन का कुल परिणाम {date}* 🤖",
    message_result_strategy_day: "🤖 *दिन का नतीजा {date}* 🤖",
    message_result_total: "✅ *कुल संकेत*: {total}",
    message_result_strategy: "🎲 *रणनीति*: {strategy}",
    message_result_red: "❌ *लाल*: {red}",
    message_result_green: "💰 *हरा*: {green}",
    message_result_assertiveness: "🎯 *मुखरता*: {assertiveness}%",
    message_result_operations: "🎲 *संचालन* 🎲",
    message_result_keys_operations: "[🕒 {hour} {result}]",
    toast_title_success: "सफलता",
    toast_subtitle_success: "आपके परिवर्तन सफलतापूर्वक सहेज लिए गए हैं.",
    toast_title_erro: "गलती",
    toast_subtitle_erro: "परिवर्तन सहेजने में त्रुटि.",
    toast_title_info: "जानकारी",
    toast_subtitle_info: "ध्यान:",
    toast_title_warning: "सूचना",
    toast_subtitle_warning: "सूचना:",
    validating_signal: "🔔 **इनपुट मान्य करना** 🔔",
    access_link: "🔗 **प्रवेश लिंक:** [{table1}]({link1})",
    confirmation_signal: "💰 **प्रवेश की पुष्टि** 💰",
    finished_signal: "🔹 **समाप्त सिग्नल** 🔹",
    attempts_signal: "🔁 **प्रयासों की संख्या:** {gales}",
    validity_signal: "🕑 **तब तक वैध:** {validity}",
    ended_signal: "🕑 **पर समाप्त हुआ:** {validity}",
    qtd_mines: "💣 **खदानें:** 3",
    strategy_signal: "⬇️ **रणनीति:** {strategy}",
    interleaving_signal: "🚥 **इंटरलिविंग**",
    normal_signal: "👉 5x **सामान्य**",
    turbo_signal: "⚡ 5x **टर्बो**",
    normalspin_signal: "👉 {normalspin}x **सामान्य**",
    automaticspin_signal: "⚡ {automaticspin}x **स्वचालित**",
    copy_error: "उफ़! ऐसा लगता है कि आपने अभी तक शोकेस से ऐसी कोई रणनीति कॉपी नहीं की है जो इन गेम/टेबल के साथ काम करती हो।",
    applied: "लागू",
    all_roulettes: "सभी",
    any_roulettes: "कोई नहीं",
    searching_groups: "समूहों की तलाश है...",
    select_group: "एक समूह चुनें",
    unexpected_error: "अनपेक्षित त्रुटि, पुनः प्रयास करें.",
    wish_integrate: "क्या आप एक नया व्हाट्सएप अकाउंट एकीकृत करना चाहते हैं?",
    added_success: "व्हाट्सएप अकाउंट सफलतापूर्वक जोड़ा गया!\n\nसंबंध बनाओ!",
    added_error: "नया खाता बनाने में असमर्थ!\n\nकारण:",
    add_whats_erro: "व्हाट्सएप खाता जोड़ने में त्रुटि.",
    scan_qrcode: "QR कोड को स्कैन करें और जारी रखें पर क्लिक करें",
    to_continue: "जारी रखना",
    session_disconnected: "सत्र काट दिया गया!",
    session_connected: "सत्र जुड़ा!",
    make_connection: "संबंध बनाओ",
    to_close: "बंद कर देना",
    
    request_sent: "अनुरोध भेजा गया, कृपया प्रतीक्षा करें...",
    disable_client: "वास्तव में ग्राहक को निष्क्रिय करना चाहते हैं",
    reactivate_client: "क्या आप ग्राहक को पुनः सक्रिय करना चाहते हैं",
    disable_room: "सचमुच कमरा बंद करना चाहता हूँ",
    reactivate_room: "क्या आप कमरा कनेक्ट करना चाहते हैं",
    delete_room: "क्या आप कमरा हटाना चाहते हैं",
    
    choose_file: "फाइलें चुनें",
    please_choose_file: "कृपया पहले एक फ़ाइल चुनें.",
    loading_file: "फ़ाइल लोड हो रही है...",
    character_limit: "फ़ाइल का नाम बहुत लंबा है, अधिकतम 200 अक्षर.",
};
</script>

{% elif CURRENT_LANGUAGE == 'chi' %}
<script type="text/javascript">
    var translations = {
    confirm_change_game: "當改變\"遊戲類型\", 與該房間相關的所有以下資訊將永久遺失：\n- 策略\n- 結果\n- 營運\n\n此操作無法撤消，您確定要繼續嗎？",
    confirm_zero_result_room: "確認後，整個房間結果歷史記錄將會重置.\n\nObs：每個策略的單獨成績不會重置，只有房間成績會重置。\n\n 你想繼續嗎？",
    confirm_zero_result_strategies: "確認後，該房間內所有策略的全部結果歷史記錄將被重置.\n\nObs：房間的結果不會被重置，只會重置策略的結果。\n\n 你想繼續嗎？",
    alert_change_application: "當改變 \"應用\", 出於功能相容性原因，您的策略將關閉，其內容類型將變更為文字。只需再次訪問它們即可重新打開它們.",
    result_cleaned: "零結果！",
    validating: "證實...",
    copied: "複製了！",
    to_save: "儲存",
    to_check: "查看",
    checking: "檢查",
    to_apply: "申請",
    saved_success: "保存成功！",
    strategy_copied_form: "前往策略表單，點選按鈕 \"策略\" 並應用從展示中複製的策略.",
    apply_links_from: "應用程式連結來自",
    links_applied: "應用程式連結！",
    info_about_links: "有些連結沒有應用，因為我們找不到它們，如果您找到它們，請稍後添加.",
    extra_configs: "其他設定",
    click_to_expand: "點擊展開",
    click_to_retract: "點擊收藏",
    strategy_solo: "地面",
    strategy_multi: "多重訊號",
    duplicate_strategy: "重複策略",
    ask_duplicate_strategy: "想要複製策略",
    delete_results_strategy: "重置",
    ask_delete_results_strategy: "是否要重置策略的結果和操作",
    filter_title_strategies: "策略",
    filter_title_groups: "客房",
    nothing_found: "什麼都沒找到...",
    previous: "以前的",
    next: "下一個",
    analyzing: "🚨 **分析** 🚨",
    confirmation: "💰 **已確認入境** 💰",
    closure: "💰 **投注結束** 💰",
    table: "🎰 **桌子:** [{table1}]({link1})",
    site: "📱 **地點:** [{table1}]({link1})",
    minbet: "✅ **最低入場人數:** {minbet}",
    gamblers: "🤵🏽 **牌桌上的玩家:** {gamblers}",
    protect_tie: "👉 **保護平手**",
    strategy: "🎲 **策略: {strategy}**",
    gales: "🔁 **這樣做直到 {gales} gales**",
    sequence: "🚥 **順序:** {sequence}",
    sequence_sicbo: "🚥 **順序:** {sequencesum}",
    cover_zero: "👉 **蓋住刮痕**",
    cover_white: "👉 **蓋上 ⚪** ",
    last_spin_bet: "💰 **之後登入 {lastspin} 下注 {bet}**",
    last_spin_bet_sicbo: "💰 **之後登入 {lastspinsum} 下注 {bet}**",
    entry_after_last_spin: "👉 **之後登入 {lastspin}**",
    get_out_in: "💰 **退出 {bet}**",
    green: "✅✅✅ **綠色的** 👍 ({result})",
    green_sicbo: "✅✅✅ **綠色的** 👍 ({result})",
    red: "紅色的 ❌ ({result})",
    red_sicbo: "紅色的 ❌ ({resultsum})",
    save_new_pattern: "儲存新訊息模式?",
    load_pattern: "載入現有訊息模式?",
    model_1: "模型 1",
    model_2: "模型 2",
    save_own_model: "保存自己的 模型",
    load_own_model: "保存自己的 模型",
    keywords: "關鍵字",
    emojis: "表情符號 🔥🚀",
    verify_markdown: "看來該訊息降價包含**使用錯誤，請檢查。",
    please_fix_it: "請改正:",
    fix_keywords: "以下關鍵字不存在,",
    keywords_validation: "以下關鍵字不存在,",
    daily_result: "每日結果",
    martingale: "鞅",
    score: "記分牌",
    correct: "正確的",
    incorrect: "不正確",
    bot_token: "機器人代幣",
    bot_username: "你的機器人的用戶名是",
    please_insert: "請插入",
    searching_group: "正在搜尋頻道/群組...",
    finded_group: "我們找到了這個團體：",
    finded_channel: "我們找到了頻道/組：",
    name_group: "姓名:",
    do_it_now: "現在做:",
    must_put: "你必須把",
    as_admin: "作為頻道/群組管理員.",
    case_already: "如果您已經是管理員，請將其刪除。",
    by_last: "最後，你必須把",
    admin_again: "再次擔任頻道/群組管理員。",
    after_done: "完成此操作後，再次點擊檢查",
    change_historic: "您必須將聊天記錄選項更改為“可見”或“隱藏”，沒關係，現在只需更改它，稍後您可以根據需要保留此選項.",
    not_possible: "無法存取頻道/群組",
    verify_it: "檢查這個:",
    did_you: "你把",
    try_admin_again: "作為頻道/群組管理員？嘗試以管理員身分刪除並重新安裝。",
    validating_permissions: "驗證權限...",
    incorrect_permissions: "權限不正確",
    give_permissions: "您需要向機器人授予以下權限：",
    post_messages: "發布訊息",
    all_correct: "一切都很好",
    integration_correct: "正確整合",
    ask_chat_id: "聊天ID是否正確？",
    message_result_model_group: "總房型",
    message_result_model_strategy: "每種策略的模型",
    message_result_group_day: "🤖 *當日總成績 {date}* 🤖",
    message_result_strategy_day: "🤖 *當天的結果 {date}* 🤖",
    message_result_total: "✅ *總訊號數*: {total}",
    message_result_strategy: "🎲 *策略*: {strategy}",
    message_result_red: "❌ *紅色的*: {red}",
    message_result_green: "💰 *綠色的*: {green}",
    message_result_assertiveness: "🎯 *自信*: {assertiveness}%",
    message_result_operations: "🎲 *營運* 🎲",
    message_result_keys_operations: "[🕒 {hour} {result}]",
    toast_title_success: "成功",
    toast_subtitle_success: "您的變更已成功儲存。",
    toast_title_erro: "錯誤",
    toast_subtitle_erro: "儲存變更時發生錯誤。",
    toast_title_info: "資訊",
    toast_subtitle_info: "注意力：",
    toast_title_warning: "注意",
    toast_subtitle_warning: "注意：",
    validating_signal: "🔔 **驗證輸入** 🔔",
    access_link: "🔗 **訪問連結:** [{table1}]({link1})",
    confirmation_signal: "💰 **已確認參賽** 💰",
    finished_signal: "🔹 **完成訊號** 🔹",
    attempts_signal: "🔁 **嘗試次數:** {gales}",
    validity_signal: "🕑 **有效期限至:** {validity}",
    ended_signal: "🕑 **完成於：** {validity}",
    qtd_mines: "💣 **地雷:** 3",
    strategy_signal: "⬇️ **策略:** {strategy}",
    interleaving_signal: "🚥 **交錯**",
    normal_signal: "👉 5x **普通的**",
    turbo_signal: "⚡ 5x **渦輪**",
    normalspin_signal: "👉 {normalspin}x **普通的**",
    automaticspin_signal: "⚡ {automaticspin}x **自動的**",
    copy_error: "哎呀！您似乎尚未從展示中複製任何適用於這些遊戲/牌桌的策略.",
    applied: "應用",
    all_roulettes: "全部",
    any_roulettes: "沒有任何",
    searching_groups: "尋找團體...",
    select_group: "選擇一個群組",
    unexpected_error: "意外錯誤，請重試.",
    wish_integrate: "您想整合新的 WhatsApp 帳號嗎?",
    added_success: "WhatsApp 帳號新增成功!\n\n建立連線！",
    added_error: "無法建立新帳戶！\n\n原因:",
    add_whats_erro: "新增 Whatsapp 帳號時出錯.",
    scan_qrcode: "掃描二維碼並點擊繼續",
    to_continue: "繼續",
    session_disconnected: "會話已斷線！",
    session_connected: "會話已連接!!",
    make_connection: "建立連線",
    to_close: "關閉",

    request_sent: "請求已發送，請稍候...",
    disable_client: "確實想停用客戶端",
    reactivate_client: "您要重新啟動客戶端嗎",
    disable_room: "真想關掉房間",
    reactivate_room: "你想打開房間嗎",
    delete_room: "您要刪除房間嗎",

    choose_file: "選擇文件",
    please_choose_file: "請先選擇一個檔案。",
    loading_file: "正在加載檔案...",
    character_limit: "檔案名稱太長，最多 二百 個字元。",
};
</script>
{% endif %}