:root {
    --background-color: #ffffff;
    --text-color: #555;
    --bg-results: #dee0de;

    --black: #151414;
    --yellow: #ffc107;
    --white: #f7f7f7;
    --green: #34ed91;
    --orange: #ef7520;
    --ligh-blue: #0dcaf0;
    --verde-escuro: #25d366;
    --verde-claro: #35f57d;
    --cinza-claro: #ebebeb;
    --red-cancel: #dc3545;
}