{% extends 'base.html' %}

{% block title %}Política de Privacidade{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="container mb-5">
	<h3 class="my-5"><b>Nossa Política de Privacidade em conformidade com a Lei Geral de Proteção de Dados (13.709/2018)</b></h3>
	<div class="mt-5">
		<h3><b>Como coletamos dados pessoais sobre você?</b></h3>
		<p>Em tudo que a gente faz, buscamos proteger nossos dados e informações. A gente sabe que pra você também é assim. Seus dados pessoais("Dados") são bens valiosos que devem ser preservados. Por isso você precisa saber exatamente como eles podem ser utilizados. Foi justamente para isso que criamos essa Política de Privacidade (“Política”).</p>
		<p>Para você aproveitar todos os benefícios dos Serviços, realizar compras, acessar Serviços gratuitos e realizar assinaturas de Serviços, o primeiro passo será a criação de uma Conta ou o seu registro em nosso cadastro.</p>
	</div>
	<div class="mt-5">
		<h4>Pelo seu cadastro da conta</h4>
		<p>Quando você cria a sua conta, nós perguntamos Dados como nome e e-mail, para que você crie um login e senha.</p>
		<p>Coletamos alguns Dados sobre você quando você cria a sua conta, para que você crie um login e senha. Durante o processo de cadastro, nós solicitamos Dados como seu nome completo, endereço de e-mail, data de nascimento, gênero, localização, CPF, endereço, telefone fixo e/ou celular e, no caso de assinatura de Serviços, dados de cobrança (conforme aplicável ao Serviço).</p>
	</div>
	<div class="mt-5">
		<h4>Pela sua navegação nos nossos sites</h4>
		<p>Coletamos Dados quando você acessa os nossos sites, realiza buscas e preenche formulários, como no caso de enviar sinal de interesse para candidatos ou para empresas.</p>
		<p>Também coletamos seus Dados quando você (i) utiliza os nossos Serviços; (ii) preenche formulários, realiza buscas e demais interações nos nossos Serviços; e (iii) acessa nossos Serviços pelo seu computador, telefone celular, smart TV e/ou outro dispositivo de acesso. Os dados coletados a partir do seu acesso aos Serviços incluem: sua localização aproximada (latitude e longitude); seu endereço de IP; informações do seu dispositivo de acesso (como identificador da unidade, identificador de publicidade, nome e tipo de sistema operacional); informação da sua conexão de internet; tipo do seu navegador e as páginas e conteúdos que você acessa em nossos Serviços.</p>
		<p>Além disso, quando você interagir com determinados Serviços, podemos solicitar acesso à sua galeria de fotos. Em tais situações, sempre será solicitada a sua prévia autorização para a coleta dos referidos Dados.</p>
	</div>
	<div class="mt-5">
		<h4>Através de terceiros</h4>
		<p>Alguns dos seus Dados podem ser obtidos por nós através de fontes disponíveis ao público, prestadores de serviços e nossos parceiros.</p>
		<p>Coletamos Dados sobre você de fontes disponíveis ao público, prestadores de serviços e parceiros que nos forneçam os seus Dados de acordo com a legislação aplicável.</p>
	</div>
	<div class="mt-5">
		<h4>Através do uso de cookies</h4>
		<p>Os cookies são usados para observar hábitos de visita. Eles nos permitem lembrar suas preferências, entregar anúncios e analisar audiências.</p>
		<p><b>O que são cookies e qual sua utilidade</b></p>
		<div>Cookies são pequenos arquivos de texto enviados e armazenados no seu computador. Estes pequenos arquivos servem para reconhecer, acompanhar e armazenar a sua navegação como usuário na Internet.</div>
		<p><b>Qual a utilidade dos cookies</b></p>
		<div>O uso de cookies para acompanhar e armazenar informações possibilitará oferecer um serviço mais personalizado, de acordo com as características e interesses de seus usuários, possibilitando, inclusive, a oferta de conteúdo e publicidade específicos para cada pessoa, beneficiando a experiência do usuário na Internet.</div>
		<p><b>Em geral, os cookies são utilizados para:</b></p>
		<ul>
			<li>Proporcionar serviços diferenciados, lembrando quem você é e quais são os seus hábitos de navegação, além de acessar as informações do seu cadastro;</li>
			<li>Calcular a dimensão da audiência do site.</li>
			<li>Facilitar e agilizar o preenchimento de formulários. As informações contidas nos cookies de cada usuário podem ser utilizadas para preencher previamente os formulários de coleta de dados existentes na Internet.</li>
		</ul>
		<p><b>Categorias de cookies</b></p>
		<div><b>Estritamente necessária:</b> Necessários para o funcionamento do site. Eles permitem que você navegue em nossos sites e use os serviços e recursos (por exemplo, cookies de segurança para autenticar usuários, evitar a utilização fraudulenta de credenciais de login e proteger os dados do usuário de terceiros não autorizados).</div>
		<p><b>Desempenho:</b> Esses cookies normalmente coletam informações de forma anônima e permitem determinar informações, como o número de visitantes de uma página, como os visitantes chegaram ao site e as páginas acessadas.</p>
		<p><b>Funcionalidade:</b>Os cookies desta categoria permitem que o site se lembre de informações sobre o comportamento e preferências do usuário, como, por exemplo, uma cidade escolhida.</p>
		<p>A perda das informações armazenadas em um cookie de preferência pode tornar a experiência no website menos funcional, mas não o impede de funcionar.</p>
		<p><b>Publicidade e direcionamento:</b>O site utiliza alguns cookies com o fim publicitário. Isto se faz para entregar anúncios e fazer campanhas publicitárias de acordo com um determinado público. Através desses é possível entregar anúncios de acordo com o seu perfil de consumo no site.</p>
		<p><b>Utilização de cookies de terceiros</b></p>
		<div>Prestadores de serviços de tecnologia poderão utilizar seus próprios cookies nos Serviços, com a nossa autorização, para prestação de serviços ao site. Tais cookies coletarão os seus Dados nas nossas propriedades para as finalidades previstas nesta política.</div>
		<p><b>Como alterar ou bloquear cookies</b></p>
		<div>A maioria dos navegadores é configurada para aceitar automaticamente os cookies. Você pode, contudo, alterar as configurações para bloquear cookies ou alertá-lo quando um cookie estiver sendo enviado ao seu dispositivo. Existem várias formas de gerenciar cookies, sendo possível criar um bloqueio geral para cookies, bloquear cookies de um site específico e até mesmo bloquear cookies de terceiros em relação a um site. Bloquear todos os cookies vai afetar o funcionamento da sua experiência, pois não será possível identificar suas preferências e recomendar conteúdo e publicidade relevantes.</div>
		<p>Consulte as instruções do seu navegador para saber mais sobre como ajustar ou alterar suas configurações, lembrando que a configuração desejada deve ser replicada em todos os dispositivos utilizados para acessar os Serviços (como computadores, smartphones, tablets).</p>
	</div>
	<div class="mt-5">
		<h4>Você no controle</h4>
		<p>A qualquer momento você pode visualizar e editar seus Dados contidos na conta ou em outros cadastros.</p>
		<p>Seus direitos podem ser exercidos das seguintes formas:</p>
		<p>· Acessar os seus Dados e retificá-los quando os mesmos estiverem incompletos, inexatos ou desatualizados. Por isso, nós disponibilizamos ferramentas e configurações em sua Conta para que você possa acessar e corrigir os seus Dados associados a tais cadastros. Caso você tenha dúvidas, você também pode solicitar o acesso e a retificação dos seus Dados, bem como confirmar a existência de tratamento, através do nosso e-mail de contato.</p>
		<p>· Você pode solicitar a exclusão dos seus Dados através do cancelamento da sua Conta e o site fará a exclusão definitiva de seus Dados em até 180 dias. Após a exclusão, o site poderá manter os seus Dados somente (a) pelo prazo necessário para fins de processos judiciais, administrativos e arbitrais, (b) para cumprimento de obrigação legal e/ou regulatória, (c) para o exercício regular de direitos, como, por exemplo, fazer valer os direitos do site com base no contrato de assinatura e/ou Termos de Uso aplicáveis ou (d) em formato anonimizado.</p>
	</div>
	<div class="mt-5">
		<h4>Onde armazenamos, tratamos e transferimos os seus Dados</h4>
		<p>Seus Dados podem ser transferidos, armazenados e tratados no Brasil e no exterior, respeitando procedimentos de segurança e confidencialidade.</p>
		<p>Você consente que os seus Dados poderão ser transferidos, armazenados e tratados no Brasil ou em território estrangeiro pelo site ou por Parceiros, de acordo com essa Política. Onde quer que seus Dados sejam transferidos, armazenados ou tratados por nós ou por nossos Parceiros, saiba que tomaremos as medidas técnicas e organizacionais de segurança e confidencialidade e as proteções para garantir um nível adequado de proteção de Dados (consulte a seção “Como mantemos a segurança dos seus Dados” abaixo).</p>
	</div>
	<div class="mt-5">
		<h3><b>Como usamos os seus Dados?</b></h3>
		<h4>Fornecer Serviços a você</h4>
		<div>Seus Dados são coletados para que possamos entregar conteúdo, processar pagamentos e direcionar serviços que possam ser do seu interesse.</div>
		<div>Cumprir com os termos e condições desta Política, dos Termos de Uso e dos contratos de assinatura (conforme aplicável);</div>
		<div>Processar o pagamento, no caso de você contratar um Serviço pago;</div>
		<div>Confirmar e completar seus Dados, conforme a relação estabelecida com você;</div>
		<div>Enviar confirmações e atender a seus pedidos, no caso dos Serviços pagos; e</div>
		<div>Obter histórico de crédito para ajudar a detectar e evitar casos de fraude.</div>
	</div>
	<div class="mt-5">
		<h4>Nos comunicar com você</h4>
		<p>Coletamos seus Dados para aprimorar nossos serviços, responder quando você entra em contato e para lhe manter informado sobre assuntos relevantes.</p>
		<div>Responder quando você entra em contato com o site, conforme a relação estabelecida com você;</div>
		<div>Realizar enquetes e pesquisas com o intuito de testar, resolver problemas, aprimorar ou avaliar nossos Serviços;</div>
		<div>Comunicar sobre eventos, promoções e/ou anúncios conduzidos por nós e/ou pelas Empresas Relacionadas (conforme definido da seção “Com quem compartilhamos seus Dados” abaixo) e/ou, ainda, por nossos parceiros e anunciantes, em sua conta de e-mail, por mensagem de texto, aplicativo de mensagens, ligação telefônica (incluindo telemarketing) e notificação instantânea (push);</div>
		<div>Informar sobre mudanças em nossos termos, serviços ou políticas (incluindo esta Política); e</div>
		<div>Ofertar novos Serviços a você, através da sua conta de e-mail, por mensagem de texto, aplicativo de mensagens, ligação telefônica (incluindo telemarketing) e notificação instantânea (push), inclusive aqueles cuja contratação você iniciou, mas não finalizou.</div>
	</div>
	<div class="mt-5">
		<h4>Prover segurança e proteger direitos</h4>
		<p>Mantemos determinados Dados a fim de evitar atividades ilegais, fraudulentas e suspeitas e para promover suporte técnico e operacional.</p>
		<div>Prover suporte técnico e operacional e garantir a segurança e a funcionalidade dos Serviços;</div>
		<div>Prevenir atividades ilegais, fraudulentas ou suspeitas, que possam provocar danos ao site ou a terceiros;</div>
		<div>Prevenir problemas técnicos ou de segurança;</div>
		<div>Proteger nossos direitos e propriedades, inclusive de invasões e hackeamento; e</div>
		<div>Proteger os direitos de propriedade de terceiros que usam nossos Serviços.</div>
	</div>
	<div class="mt-5">
		<h4>Personalizar a sua experiência</h4>
		<p>Seus Dados nos ajudam a criar uma experiência mais personalizada, selecionando conteúdos e publicidades de acordo com os seus interesses.</p>
		<div>Selecionar e personalizar anúncios para você, dentro ou fora dos Serviços;</div>
		<div>Customizar os conteúdos e a publicidade que mostramos em nossos Serviços;</div>
		<div>Fazer inferências sobre conteúdos e temas que possam ser do seu interesse;</div>
		<div>Identificar e recomendar conteúdos, produtos e serviços do site e das Empresas Relacionadas que possam ser do seu interesse; e</div>
		<div>Criar um perfil sobre você, personalizando a sua experiência em nossos Serviços e nos serviços das Empresas Relacionadas.</div>
	</div>
	<div class="mt-5">
		<h4>Aprimorar, analisar os Serviços e desenvolver novos produtos e serviços</h4>
		<p>Seus Dados podem ser usados para atividades de pesquisa, análises e inovação dos nossos produtos e serviços.</p>
		<div>Desenvolver, avaliar o desempenho, testar e aprimorar os Serviços, bem como novos conteúdos e serviços;</div>
		<div>Realizar atividades de pesquisa, análises e inovação relacionadas à performance e aprimoramento dos nossos Serviços, ou os das Empresas Relacionadas, ou ainda de nossos parceiros e patrocinadores;</div>
		<div>Apoiar anunciantes e parceiros na avaliação da efetividade e alcance de anúncios e também para entender os perfis de pessoas que acessam tais anúncios;</div>
		<div>Monitorar atividades e tendências de uso;</div>
		<div>Mensurar interações e audiência dos Serviços;</div>
		<div>Desenvolver aprendizado de máquina; e</div>
		<div>Reconhecer e acompanhar a sua navegação.</div>
	</div>
	<div class="mt-5">
		<h4>Cumprir nossas obrigações legais e regulatórias</h4>
		<p>Os seus Dados podem ser necessários para que possamos cumprir determinações e medidas legais e regulatórias, sejam judiciais e administrativas.</p>
		<div>Cumprir determinações legais, judiciais e administrativas e ofícios de autoridades competentes; e</div>
		<div>Tomar ou provocar medidas legais, judiciais e administrativas para defender nossos direitos e direitos de terceiros, inclusive em qualquer processo judicial ou administrativo.</div>
	</div>
	<div class="mt-5">
		<h4>Promover o bem-estar social</h4>
		<p>Seus Dados podem nos ajudar a realizar, apoiar e incentivar pesquisas, projetos sociais e iniciativas relacionadas ao bem-estar social, cidadania, saúde, educação e cultura.</p>
		<div>Realizar, apoiar e incentivar pesquisas, projetos sociais e iniciativas relacionadas ao bem-estar social geral, cidadania, saúde, educação e cultura.</div>
	</div>
	<div class="mt-5">
		<h4>Utilizar Dados obtidos de terceiros</h4>
		<p>Os Dados obtidos de terceiros são utilizados conforme a lei aplicável e nos termos de nossas políticas.</p>
		<div>Utilizar os Dados com as mesmas finalidades permitidas na forma da lei ao terceiro que compartilhou seus dados com o site, assim como nos termos desta Política.</div>
	</div>
	<div class="mt-5">
		<h4>Como tratamos Dados de menores</h4>
		<p>Sabemos o quanto é importante a privacidade e proteção dos Dados de menores.</p>
		<div>Não permitimos que menores de 8 anos criem uma Conta ou que menores de 18 anos contratem Serviços pagos. Nestes casos, os menores devem estar representados ou assistidos pelos responsáveis legais, na forma da lei.</div>
		<div>Estabelecemos, ainda, um fluxo de consentimento parental para que menores entre 8 e 16 anos possam criar a Conta. Tal fluxo consiste em solicitar a autorização do responsável legal para que o menor crie a Conta, o que inclui o preenchimento opcional do CPF do responsável para fins de comprovação da maioridade.</div>
	</div>
	<div class="mt-5">
		<h3><b>Com quem compartilhamos os seus Dados?</b></h3>
		<p>Podemos compartilhar seus Dados com terceiros, que seguem nossos padrões de segurança e confidencialidade.</p>
		<br>
		<h4>Terceiros e parceiros</h4>
		<p>Podemos compartilhar seus Dados com terceiros, que seguem nossos padrões de segurança e confidencialidade.</p>
		<div>Seus Dados serão compartilhados com as categorias de terceiros (abaixo) (em conjunto, “Parceiros”) sempre de acordo com essa Política, o termo de uso do respectivo Serviço (quando houver), a legislação aplicável, para os fins abaixo estabelecidos.</div>

		<p><b>Patrocinadores e Anunciantes</b></p>
		<div>Para fins de cumprimento de exigências de ações comerciais, promoções ou concursos, no caso de ações comerciais, promoções ou concursos patrocinados por outras empresas ou por meio de parcerias com o site, desde que você tenha concordado em participar de tais ações ou promoções e concursos.</div>

		<p><b>Empresas de pesquisa</b></p>
		<div>Para oferecer um serviço mais adequado ao seu perfil, nós e/ou nossos parceiros de pesquisa entraremos em contato com você para realizar enquetes e pesquisas com o intuito de testar, resolver problemas ou avaliar nossos Serviços.</div>

		<p><b>Empresas Relacionadas</b></p>
		<div>Para (i) identificar produtos e serviços das Empresas Relacionadas que possam ser do seu interesse; (ii) criar um perfil mais personalizado sobre você com o propósito de ajudar a personalizar a sua experiência nos serviços de Empresas Relacionadas; (iii) ofertar publicidade baseada em seus interesses; (iv) realizar pesquisas e análises para auxiliar na melhoria dos serviços das Empresas Relacionadas (por exemplo, recomendando a você programas que possam ser do seu interesse); e (v) comunicar ações comerciais, promoções ou concursos conduzidos pelas Empresas Relacionadas e/ou pelo site em parceria com as Empresas Relacionadas.</div>

		<p><b>Prestadores de Serviços de Tecnologia da Informação</b></p>
		<div>Para (i) prestar serviços de nuvem para a nossa plataforma; (ii) hospedar os Serviços e conteúdos; e (iii) fornecer suporte técnico e operacional para os Serviços. Nestas circunstâncias, seus Dados serão armazenados e processados em plataformas de terceiros, que podem estar localizadas no Brasil ou no exterior.</div>

		<p><b>Prestador de Serviços de Suporte Técnico</b></p>
		<div>Para que terceiros que nos prestem serviços de suporte técnico forneçam assistência aos usuários ou assinantes. Nestas circunstâncias, seus Dados serão processados por tais terceiros.</div>

		<p><b>Prestadores de Serviços de Marketing</b></p>
		<div>Para oferecer anúncio relevante ao seu perfil, e-mail marketing, telemarketing, SMS, notificação instantânea (push), contamos com serviços de terceiros.</div>

		<p><b>Instituições Financeiras, Provedores de Meios de Pagamento, Integradores de Meios de Pagamento e Empresas de Cartões de Crédito.</b></p>
		<div>Para processar o pagamento no caso de você contratar um Serviço pago, vamos compartilhar o seu número de cartão de crédito, dados bancários, dados de cobrança e informações de contato com instituições financeiras, provedores de meios de pagamento, integradores de meios de pagamento e empresas de cartões de crédito.</div>

		<p><b>Parceiros de Análise de Dados e de Crédito.</b></p>
		<div>Para confirmar e completar seus Dados, cruzaremos os Dados que você nos fornece com aqueles que você compartilhou com empresas de análise de Dados, inclusive de crédito.</div>

		<p><b>Autoridade Governamentais</b></p>
		<div>Para (i) cumprir determinações legais, judiciais e administrativas e também cumprir ofícios de autoridades competentes e (ii) tomar ou provocar medidas legais, judiciais e administrativas para defender nossos direitos previstos nesta Política e nos Termos de Uso, inclusive em qualquer processo judicial ou administrativo. Por Autoridades Governamentais entendem-se autoridades policiais, entidades públicas e/ou outras organizações governamentais.</div>

		<p><b>Entidades de segurança e prevenção a fraudes</b></p>
		<div>Para (i) cumprir obrigação contratual; (ii) exercitar os termos e condições desta Política e/ou dos Termos de Uso e/ou contratos de assinatura aos quais você aceitou; (iii) prevenir atividades ilegais, fraudulentas ou suspeitas; (iv) prevenir problemas técnicos ou de segurança; e (v) denunciar violações e/ou proteger nossos direitos e propriedades.</div>

		<p><b>Parceiros de Mensuração.</b></p>
		<div>Para realizar análises de audiência, alcance e relevância e relatório de mensuração dos Serviços.</div>

		<p><b>Parceiros de Negócios</b></p>
		<div>Para (i) aprimorar nossos Serviços; (ii) ampliar nossos negócios; (iii) desenvolver novos negócios, inclusive negócios que envolvam a prestação de serviços a terceiros de complementação de Dados, para fins de facilitar seu cadastro e melhorar sua experiência nos produtos e serviços dos parceiros.</div>

	</div>
	<div class="mt-5">
		<h4>Como Parceiros poderão coletar Dados sobre você a partir dos serviços</h4>
		<p>Seus Dados podem ser coletados em nossas propriedades ou por terceiros em suas propriedades, respeitando a política de Dados de cada empresa envolvida.</p>
		<p><b>Dados coletados por Parceiros em nossas propriedades.</b></p>
		<div>Nós possuímos Parceiros que incluem tags, pixels, cookies e outras ferramentas de monitoramento em nossas propriedades. Estas tecnologias permitem acompanhar suas atividades em nossas propriedades (como, por exemplo, mensurar atividades e tendências de uso dos Serviços), para lhe oferecer a melhor experiência de uso de nossos Serviços ou uma publicidade direcionada com frequência de exposição adequada, sempre buscando proporcionar a você uma experiência única e personalizada.</div>
		<p><b>Dados coletados por terceiros em suas próprias propriedades.</b></p>
		<div>Nós possuímos diversos parceiros, anunciantes e/ou patrocinadores que criam e oferecem a você bens e serviços, além de sorteios, ações comerciais e promoções através das suas próprias propriedades que são acessadas a partir dos Serviços. Os Dados que você fornece quando visita e/ou completa transações nesses sites de terceiros são solicitados e obtidos por esses parceiros, anunciantes e/ou patrocinadores, estando assim sujeitos às suas próprias práticas de tratamento de Dados.
		<br>
		Para obter informações sobre as normas de tratamento de Dados desses parceiros, anunciantes e/ou patrocinadores, recomendamos que você consulte as respectivas políticas de privacidade no próprio site do parceiro, anunciante e/ou patrocinador.</div>
	</div>
	<div class="mt-5">
		<h3><b>Como protegemos os seus Dados?</b></h3>
		<p>Adotamos práticas e tecnologias alinhadas aos padrões técnicos e regulatórios de mercado, bem como controles que são sempre revisados e aprimorados.</p>
		<br>
		<h4>Dados anonimizados</h4>
		<p>Os seus dados são coletados e tratados de forma que você não seja identificado pessoalmente.</p>
		<div>Além de tratarmos os Dados de acordo com esta Política, coletamos e tratamos também seus dados de forma anonimizada, ou seja, de modo a que você não seja identificado pessoalmente.</div>
		<h4>Como mantemos a segurança dos seus Dados</h4>
		<p>Adotamos práticas alinhadas aos padrões técnicos e regulatórios de mercado para segurança e privacidade de Dados, com ações abrangentes em tecnologia e nos processos organizacionais.</p>
		<p>Nossas medidas para preservar seus Dados contra acesso, uso, alteração, divulgação ou destruição não autorizados incluem a proteção física e lógica dos ativos, comunicações criptografadas, gestão sobre os acessos, adesão ao desenvolvimento seguro de software e políticas internas de conformidade que inserem a segurança no ciclo de vida dos nossos Serviços.</p>
		<p>Todos esses controles são continuamente revisados para acompanhar e reagir ao contexto de ameaças na Internet. Ainda assim, não é possível garantir que os nossos Serviços sejam completamente invioláveis. Mas fique tranquilo: contamos com equipes preparadas para detectar e responder prontamente, no caso da ocorrência de algum evento ou incidente que comprometa a segurança dos seus Dados ou de nossos Serviços.</p>
	</div>
	<div class="mt-5">
		<h3><b>Contato</b></h3>
		<p>Caso precise de qualquer suporte ou tenha alguma dúvida, pedido ou sugestão em relação a essa Política, somos todos ouvidos.</p>
		<br>
		<h4>Como podemos avisar você sobre alterações na Política</h4>
		<p>Estamos sempre melhorando nossa Política e as mudanças serão refletidas nesta página. Então, antes de usar um de nossos Serviços dê uma olhadinha aqui. Você sempre será avisado sobre qualquer alteração, seja através de aviso no Portal da Privacidade, nos Serviços, pelo envio de e-mail, SMS, notificação instantânea (push) ou através de outros meios. Quando publicarmos alterações na Política, atualizaremos a data em que a última alteração foi publicada. Lembre-se: Ao continuar a acessar os Serviços depois que tais alterações passarem a valer, você estará concordando em estar vinculado à nova versão da Política.</p>
	</div>
	<div class="mt-5">
		<h3><b>Como entrar em contato</b></h3>
		<p>Essa Política é parte de um processo contínuo que busca utilizar suas informações da maneira mais segura e ética. Totalmente pensado para você. Por isso, é muito importante para gente ouvir de você e conhecer suas impressões sobre o que conversamos aqui.</p>
		<p>Você poderá entrar em contato conosco através do e-mail <b>contato@rifaonlinegratis.com.br</b></p>
	</div>
	<div class="mt-5">
		<small>Atualizada em: 22 de Fevereiro de 2022.</small>
	</div>

	<div class="my-5 d-flex justify-content-start">
		<a class="btn btn-cancel neo-bold me-5" href="{{ request.META.HTTP_REFERER }}">VOLTAR</a>
	</div>

</div>
{% endblock %}
