{% extends 'base.html' %}

{% block title %}Termos de Uso{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}
<div class="container mb-5">
	<h3 class="mt-5"><b>TERMOS E CONDIÇÕES DE USO</b></h3>
	<small>Última atualização realizada e publicada em 15/08/2021</small>
	<div class="mt-5">
		<p>Serão pactuados, entre o USUÁRIO, pessoa física de direito privado, e a empresa Santos Negócios 
			Digitais, pessoa jurídica de direito privado, com CNPJ de n° 83.910.422/0001-21, com sede na Rua 
			Principe Humberto, Centro, São Bernardo do Campo/SP, CEP: 09725-200, no presente 
			instrumento, os termos e condições de uso necessários à utilização dos serviços oferecidos na 
			Plataforma RIFA ONLINE GRÁTIS.
		</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Considerações Iniciais</b></h5>
		<ul class="list-group-numbered">
			<li class="mt-3"> Considera-se “Usuário do perfil Tipo 1”, aquele indivíduo que figura como criador/organizador da campanha. Responsável pela escolha do título, categoria, local do sorteio, prazo de expiração da compra não finalizada, limite de cotas por colaborador, prêmio e todas as outras configurações que envolverem a criação, organização e arrecadação da campanha.</li>
			<li class="mt-3">Considera-se “Usuário do perfil Tipo 2”, aquele indivíduo que figura como colaborador da campanha. É quem se identifica com a causa e está disposto a participar do financiamento coletivo.</li>
			<li class="mt-3">Considera-se “Diretoria ou Direção”, os representantes da empresa Santos Negócios 
			Digitais, seus funcionários e pessoal, envolvidos no desenvolvimento e suporte do Plataforma Rifa Online Gratis.</li>
		</ul>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Geral</b></h5>
		<p>Os Termos aqui expostos contêm as regras gerais e específicas aplicáveis aos usuários, assim como as explicações necessárias  para as operações que estes poderão realizar no âmbito da Plataforma. Dessa forma, através do aceite destes Termos, o usuário (de perfis Tipo 1 e Tipo 2) concorda com todas as regras e procedimentos aqui descritos.</p>
		<h5 class="text-uppercase"><b>Cláusula Primeiro: Do Objeto</b></h5>
		<p>A Plataforma “Rifa Online Grátis” busca oferecer soluções tecnológicas que viabilizem a criação, execução e acompanhamento de rifas, no modalidade ONLINE. Disposta a auxiliar o compartilhamento e gerenciamento das campanhas, de maneira que facilita o uso e melhora o alcance de usuários, através da sistemática inteligente e das funcionalidades automatizadas.</p>
		<p><b>Parágrafo Primeiro</b>: A direção da Plataforma Rifa Online Gratis, reserva a si, o direito de alterar as 
			condições destes Termos a qualquer tempo, comprometendo-se a disponibilizar suas novas versões 
			neste link “Termos e Condições” publicado no site oficial da plataforma, bem como, aviso de 
			notícias nas redes sociais vinculadas à Plataforma, que entrarão em vigor na data de sua 
		publicação.</p>
		<p><b>Parágrafo Segundo</b>: Na remota hipótese de um usuário, independentemente do seu perfil de uso, enxergar ofensa aos seus direitos subjetivos na redação dos presentes termos, este poderá comunicar-se através do Portal de Suporte, informar suas razões e compor, junto à Direção da Plataforma, uma solução justa.
		</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Segunda - Dos Serviços</b></h5>
		<p>Através desta Plataforma, a Direção da “Rifa Online Grátis” oferece sistema de gerenciamento de rifas, que atende desde o cadastramento de produtos, valores, tempo de reserva da cota pretendida até a programação de baixa automática da campanha publicada.</p>
		<p><b>Parágrafo Primeiro:</b> Não estão incluídos nos serviços ofertados pela plataforma, tampouco pela 
			Direção que a desenvolve, a responsabilidade sobre os valores, aportes, contribuições ou quaisquer 
			recursos aplicados pelos Usuários de perfil Tipo 2, destinados aos contos sinalizados pelos Usuários 
			Tipo 1. Assim, a atuação da Direção se resume a disponibilização da referida plataforma, para que 
			os seus usuários idealizem as campanhas ou participem delas, oferecendo suporte nos limites dos 
		termos aqui expostos.</p>
		<p><b>Parágrafo Segundo:</b> O serviço de atendimento, suporte técnico e operacional, será realizado pela 
			Direção e seus prestadores de serviço, EXCLUSIVAMENTE através dos canais de atendimento expostos 
		no Site “https://rifaonlinegratis.com.br", sem direito a utilizaçõo de sistema gratuito de telefonia.</p>
		<p><b>Parágrafo Terceiro:</b> O usuário, independentemente do perfil de uso (Tipo 1 ou Tipo 2) não é 
			autorizado a pronunciar-se em nome do Plataforma Rifa Online Grátis, tampouco em nome do Direção. Ainda 
			que se trate de usuário provecto, de modo que é terminantemente proibido, pessoa não autorizada 
			colocar-se à disposição para sanar questionamentos, auxiliar no suporte ou outras necessidades de 
		comunicação em relação ao Serviço prestado pela Diretoria da Plataforma Rifa Online Grátis.</p>
		<p><b>Parágrafo Quarto:</b> O Usuário Tipo 1, apenas poderá colocar-se à disposição dos colaboradores 
			(Usuários de perfil Tipo 2) que aderirem sua campanha, para tratar somente da campanha. De modo que 
			seu auxílio se limita às questões que envolvem o evento por ele criado. Todas as demais dúvidas, no 
			tocante ao funcionamento da Plataforma, deverão ser encaminhadas aos canais de suporte, dispostos 
		no Site Oficial da Plataforma.</p>
		<p><b>Parágrafo Quinto:</b> Como condição de acesso aos serviços dispostos na Plataforma, os usuários devem 
			possuir capacidade de fato e de direito (maiores de 18 anos), de modo que as declarações aqui 
			prestadas, no ato do cadastro e do uso da plataforma são de sua inteira responsabilidade. Também 
			devem possuir os meios necessários  para realizar o referido cadastro, incluindo computador 
			conectado à internet, prover conexão à internet, equipamentos, manutenção destes, acessórios e 
		softwares, todos sob sua inteira responsabilidade.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Terceira - Do Cadastro de Usuários de perfil Tipo 1 e Tipo 2</b></h5>
		<p>A criação de campanhas pelo Usuário Tipo 1, depende da realização de um pré-cadastro no Site. O 
			cadastro inicial exige: (i) E-mail; (ii) senha; (iii) primeiro e último nome; (iv) 
		WhotsApp/Telefone.</p>
		<p><b>Parágrafo Primeiro:</b> Nossa orientações acerca da validade do pré-cadastro são:</p>
		<ul class="list-group-numbered">
			<li class="mt-3">As pessoas físicas devem possuir no mínimo 18 anos (ou estar legalmente representadas, quando 
			menores de 18 anos, na forma da lei), possuindo número de inscrição ativo sob o CPF.</li>
			<li class="mt-3">As Pessoas Jurídicas devem estar estabelecidas no Brasil, possuírem número de inscrição ativo 
				sob o CNPJ e ser representada por representante legal, que informar o seu contato, estando 
			devidamente autorizado e com poderes estabelecidos.</li>
		</ul>
		<p><b>Parágrafo Segundo:</b> O pré-cadastro realizado pelos usuários incluirà dados que o vinculam às 
		campanhas das quais participe.</p>
		<p>Parágrafo Terceiro: Em caso de informações incorretas ou inverídicas, fraudes, inércia do USUÁRIO 
			no envio dos documentos ou informações eventualmente solicitadas, caberá à Direção bloquear o 
			acesso do usuário a sua Plataforma, sem sofrer prejuízo de outros medidas como previstas nestes 
		Termos, além de não assistir ao usuário qualquer tipo de indenização ou ressarcimento.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Quarta - Da Utilização da Plataforma Rifa Online Grátis</b></h5>
		<p>A utilização da Plataforma Rifa Online Grátis, pelos Usuários, permite o registro da realização de 
			Aportes para rifas, com funcionalidades inovadoras, tais como baixa automática, reserva com tempo 
			pré-estabelecido de cotas e arrecadação direcionada à conta indicada pelo Organizador/Donatário, 
		não havendo qualquer tipo de retenção financeira por parte da plataforma.</p>
		<p><b>Parágrafo Primeiro:</b> Ao criar uma rifa como donatário de campanha, o organizador indica ciência de 
			todos os termos aqui previstos, além de apresentar previamente as informações que a empresa tomar como 
		relevantes para aceitar a promoção da campanha que será realizada.</p>
		<p><b>Parágrafo segundo:</b> Os usuários da Plataforma Rifa Online Grátis, não ficam restritos ao manuseio do 
			plataforma usufruindo apenas de um tipo de perfil. Significa dizer que, o mesmo indivíduo pode 
		figurar como criador de campanhas e também colaborador delas e das que mais desejar.</p>
		<p><b>Parágrafo terceiro:</b> Os Usuários Tipo 1, organizadores/donatários das campanhas decidem quantidade de 
			números que deseja vincular aos sorteios e a contraprestação pelo uso e suporte do Plataforma Rifa 
		Online Gratis , ha uma taxa cujo valor é tabelado pela quantidade de cotas escolhidas pelo Organizador.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Quinta - Das Responsabilidade dos Usuários</b></h5>
		<p><b>Parágrafo Primeiro:</b> Os Usuários se comprometem a utilizar as ferramentas dispostas na Plataforma 
		Rifa Online Grátis, apenas para a criação e organização das Campanhas, de maneira lícita e justa.</p>
		<p><b>Parágrafo Segundo:</b> Na hipótese de uso inadequado da Plataforma, caberá ao Usuário as consequências 
			legais, cíveis e criminais que o caso ensejar. Sendo assim, caberá à Diretoria, suspender ou 
			cancelar de maneira imediata qualquer publicação de campanha que viole a legislação vigente, sendo 
		inoportuno e descabido qualquer pedido de reembolso ou reparação junto à Diretoria da Plataforma.</p>
		<p><b>Parágrafo Terceiro:</b> No caso do descumprimento de qualquer uma das cláusulas constantes nesse 
			documento e, havendo denúncia,apenas o usuário será responsabilizado, não restando nenhum tipo de 
		danos ou perdas à Diretoria e seu pessoal.</p>
		<p><b>Parágrafo Quarto:</b> Em caso de cancelamento ou suspensão da campanha, todos os usuários declaram- se 
			cientes de que apenas o usuário Organizador fica obrigado o devolver os valores arrecadados pela 
			respectiva campanha, aos seus respectivos doadores. Isto porque, os valores levantados através das 
		vendas dos cotas são destinados à conta bancaria informado pelo Usuário Organizador.</p>
		<p><b>Parágrafo Quinto:</b> O Usuário Tipo 1 se responsabiliza pela adequação das imagens e vídeos para 
		visualização pública e utilização na plataforma.</p>
		<p><b>Parágrafo Sexto:</b> A utilização de imagens ou vídeos que exponham nudez, violência, ou imagens 
			ofensivos, contrários à qualquer dispositivo legal, vigente em nosso território, são expressamente 
			proibidos pela plataforma. Sob pena de ter a campanha cancelada sem danos caracterizados além da 
			devolução dos valores arrecadados aos respectivos doadores, com a cobrança da taxa de utilização do 
			plataforma, sem prejuízos quantos as perdas e danos sofridos pelo Direção, oportunizando o direito de ação de 
		regresso em caso de ato lesivo, causador de quaisquer danos.</p>
		<p><b>Parágrafo Sétimo:</b> O Usuário Tipo 1, se compromete em estar ciente e manter-se regular com as suas 
			obrigações fiscais, isentando a Direção de qualquer responsabilidade fiscal sobre as transações 
		realizadas na Plataforma Rifa Online Grátis.</p>
		<p><b>Parágrafo Oitavo:</b> O Usuário Tipo 1 se compromete a manter constantemente atualizado seus dados 
		cadastrais no perfil da Plataforma.</p>
		<p><b>Parágrafo Nono:</b> O Usuário fica responsável por possuir uma conta bancária apta em instituição 
			financeira nacional adequada e por informá-la corretamente no momento de cadastro, para receber os 
		recursos oriundos das campanhas organizadas através da Plataforma.</p>
		<p><b>Parágrafo Segunda:</b> Os usuários estão cientes de que, o conta informada pelo recebimento dos valores 
			é de sua inteira responsabilidade, bem como a conferência dos dados cadastrados, de modo que, não 
			caberá qualquer responsabilização à Direção da Plataforma Rifa Online Grátis, nos casos de informação 
		incorreta.</p>
		<p><b>Parágrafo Terceira:</b> Os Usuários declaram-se cientes de que, na hipótese de o Usuário Tipo 2 
			desistir da compra de uma cota ou do participação em uma campanha deverá levar seu pedido 
			diretamente ao organizador da campanha. Não havendo qualquer possibilidade de requerer junto à 
			Direção da Plataforma, uma vez que a gerência das campanhas e o recebimento dos valores são 
		limitados ao Usuário Tipo 1 (organizador).</p>
		<p><b>Parágrafo Quarta:</b> O Usuário Tipo 1, que estiver como organizador de campanha ativa, fica ciente de 
			que os pedidos de cancelamento de compra e/ou participação em campanhas, formulados pelos Usuários 
			Tipo 2, são de sua inteira responsabilidade, cabendo a estes a devolução do valor e cancelamento da 
			cota. Fica ciente também, de que a Plataforma Rifa Online Grátis, oferece funcionalidade de cancelamento 
			manual da cota e por isso, não há necessidade qualquer intervenção por parte da Diretoria da 
		Plataforma.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Sexta - Dos Pagamentos</b></h5>
		<p>Os usuários poderão utilizar quaisquer Meios de Pagamento aceitos pela Plataforma para a realização 
			de compras em suas campanhas e também poderão depositar diretamente na conta bancária do 
			organizador da campanha pretendida, observadas as regras especificas contidas no Site e nestes 
		Termos.</p>
		<p><b>Parágrafo Primeiro:</b> A partir do aceite do presente termo, o usuário se dispõe em autorizar toda e 
			qualquer operação financeira, seja ela por intermediário financeiro, transação bancária (TED, DOC, 
		PIX), e outros que vierem a surgir pelos meios tecnológicos, disponíveis na Plataforma.</p>
		<p><b>Parágrafo Segundo:</b> O único pagamento feito à Plataforma Rifa Online Grátis, é o pagamento referente à 
			publicação da campanha, realizada pelo organizador. O valor da publicação tem somente um 
			referencial, qual seja o faturamento da campanha. O pagamento é feito no momento da criação da 
		campanha e nenhum outro valor será cobrado sobre essa publicação.</p>
		<p><b>Parágrafo Terceiro:</b> A tabela referencial dos valores para publicação da campanha ficará disponível, 
		todo o tempo, na aba de criação da rifa, podendo sofrer alterações a qualquer tempo.</p>

		<p><b>Parágrafo Quarto:</b> Caso o usuário opte por realizar/receber o pagamento diretamente (sem caminho 
			intermediário oferecido pela Plataforma) deverá confirmar o recebimento do valor, por sua conta e 
		risco.</p>

		<p><b>Parágrafo Quinto:</b> Na Plataforma Rifa Online Grátis não existem descontos de taxas incidentes sobre os 
			valores das cotas vendidas. Havendo qualquer exigência dessa natureza, o Usuário responsável tera 
		sua campanha cancelada e ficará obrigado o devolver os valores levantados na respectivo campanha.</p>

		<p><b>Parágrafo Sexto:</b> Quando o pagamento for realizado através dos meio de pagamento disponibilizados 
		pela Plataforma, este será direcionado diretamente para a conta informada pelo Usuário.</p>


		<p><b>Parágrafo Sétimo:</b> É facultado ao Usuário Tipo 1, organizador da campanha, habilitar a função de 
			recebimento de pagamentos por meio do crédito ou débito (no Mercado Pago), quando essa função 
			estiver habilitada, o tempo de compensação dos pagamentos podem varias de 03 (três) a 05 (cinco) 
			dias úteis. A transação ficará com o status “em processamento" até ser concluída. Uma vez 
		concluída, o valor será igualmente direcionado à conta informada pelo Organizador.</p>

		<p><b>Parágrafo Oitavo:</b> A utilização da Plataforma Rifa Online Grátis, por parte dos usuários, poderá desejar a 
			cobrança da Taxa de uso do sistema (taxa por publicação de campanha) que será cobrada dos 
			Organizadores dos campanhas em modalidade única de acordo com a perspectiva de faturamento bruto
			(quantidade total de bilhetes x o valor do bilhete). A tabela poderá sofrer alterações a qualquer 
		tempo e as atualizações serão comunicadas aos usuários.</p>
		<p><b>Parágrafo Nona:</b> A Resposabilidade pela reclamação do prêmio do sorteio fica inteiramente a cargo do Usuário Tipo 2, através dos canais de atendimento disponibilizados pela plataforma Rifa Online Grátis, tal como através do e-mail contato@rifaonlinegratis.com.br</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Sétima - Das Restrições aos usuários</b></h5>
		<p>Em relação à utilização da Plataforma Rifa Online Gratis, além dos termos entre os pactuantes, os 
		usuários se submetem às seguintes restrições:</p>
		<p><b>Parágrafo Primeiro:</b> O usuário não poderá infringir estes Termos ou quaisquer outros adotados pela 
		Direção da Plataforma Rifa Online Grátis, previamente disponibilizados aos usuários;</p>

		<p><b>Parágrafo Segundo:</b> Os Usuários estão terminantemente proibidos de infringir os direitos autorais, 
			de patente, de marco comercial, de segredo comercial, além de outros direitos de propriedade 
			intelectual, industrial, de publicidade ou confidencialidade, seja de titularidade da Plataforma 
			Rifa Online Grátis, da Direção da Plataforma, ou de terceiros, se responsabilizando pelos danos causados, 
			isentando a Direção da plataforma, entretanto, porventura ocorrendo a responsabilização, oportuniza desde i^ o direito de 
			denunciação o lide, assim como, em caso de condenação, o de nova ação, sem prejuízos das perdas e 
		danos causados à Direção do Plataforma.</p>

		<p><b>Parágrafo Terceiro:</b> É vedado aos usuários a adoção de atitude difamatória, caluniosa, ameaçadora, 
			assediante ou de modo que comprometa as relações com Direção da Plataforma, terceiros, ou demais 
			usuários, isentando a Direção, sendo o usuário violador, o único responsável por sua atitude aqui 
		prevista.</p>

		<p><b>Parágrafo Quarto:</b> Os usuários não poderão fornecer informações falsas, incompletas ou incorretas à 
			Direção da Plataforma Rifa Online Grátis, ou aos demais usuários, quando utilizando-se dos Serviços da 
		plataforma. Sob pena de responder judicialmente, ao descumprimento da cláusula.</p>

		<p><b>Parágrafo Quinto:</b> O usuário não poderá se abster de cooperar em eventuais investigações internas ou 
		demais solicitações de informações que envolvam o uso da plataforma.</p>

		<p><b>Parágrafo Sexto:</b> Nos eventuais casos de uso que traga publicidade negativa e consequentemente 
			prejudique a Plataforma, em qualquer aspecto. Caberá, a critério da Direção a interrupção ou 
		encerramento das campanhas em que o Usuário figurar como organizador.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Oitava - Prazo e Rescisão do Presente Termo</b></h5>
		<p>Os presentes termos são celebrados por prazo indeterminado, com início de sua vigência a partir do 
			seu aceite pelo usuário que ocorrerá no momento do abertura de uma Conta em sua titularidade ou da 
		compra de qualquer cota.</p>

		<p><b>Parágrafo Primeiro:</b> Estes termos poderão ser rescindidos a qualquer tempo, por qualquer uma das 
		Partes, sem ônus, mediante utilização dos mecanismos disponibilizados na Plataforma Rifa Online Grátis.</p>

		<p><b>Parágrafo Segundo:</b> Estes Termos serão rescindidos em caso de descumprimento de quaisquer das 
			obrigações aqui estabelecidas, bem como pela decretação de falência, recuperação judicial, 
			extrajudicial ou insolvência civil de qualquer das partes ou ainda pela ocorrência de caso fortuito 
			ou força maior que impossibilite a prestação dos Serviços, total ou parcialmente, por mais de 10 
		(dez) dias consecutivos.</p>

		<p><b>Parágrafo Terceiro:</b> A rescisão destes Termos, por qualquer motivo, não prejudicará o direito da 
			Direção da Plataforma Rifa Online Grátis, de reivindicar as quantias porventura devidas pelos 
			organizadores das campanhas, em razão da prestação dos Serviços, nem a indenização porventura 
		devida.</p>

		<p><b>Parágrafo Quarto:</b> O usuário poderá encerrar sua Conta junto à Plataforma Rifa Online Grátis a qualquer 
			momento, observadas as regras de encerramento de cadastro e seguindo as instruções contidas na 
		plataforma, devendo ser solicitada através do e-mail: contato@rifaonlinegratis.com.br.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Nona - Do Encerramento da Campanha por Parte dos Usuários</b></h5>
		<p>O usuário Tipo 1 (organizador), por opção própria, poderá encerrar uma campanha a qualquer momento, 
			independentemente do valor arrecadado até o momento do pedido junto à Plataforma Rifa Online Grátis, 
			devendo devolver, por sua conta, todos os valores arrecadados, caso não tenha chegado a quantidade 
			definida pelo organizador e comprovar todas as devoluções. E na hipótese da não devolução dos 
			valores devidos, o usuário que sentir violado o seu direito de reembolso, deverá buscar do 
		Organizador, não cabendo à Direção da Plataforma Rifa Online Grátis qualquer cobrança ou responsabilidade.</p>

		<p><b>Parágrafo Primeiro:</b> As campanhas serão encerrados quando o Organizador da Campanha sinalizar o 
		colaborador premiado ou a realização do sorteio e a finalização da campanha;</p>

		<p><b>Parágrafo Segundo:</b> Uma campanha poderá ser excluído pelo Direção do Plataforma Rifa Online Grátis, sem o 
			necessidade de pedido por parte do usuário, se for percebida qualquer violação das disposições 
		destes Termos.</p>

		<p><b>Parágrafo Terceiro:</b> Se dentro do prazo de 07 (sete) dias corridos, o organizador não arrecadar 
			nenhum valor à sua campanha, poderá solicitar o cancelamento desta e requerer o reembolso do taxa 
			pago pela publicação. Na hipótese de ter vendido qualquer cota, o organizador deverá comprovar a 
			devolução das cotas vendidas, para ter restituído o valor da taxa de publicação. A solicitação 
		deverá ser encaminhada pelos canais de Suporte.</p>
	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Décima - Das Disposições Gerais</b></h5>

		<p><b>Parágrafo Primeiro:</b> Os usuários expressamente aceitam que a Direção da Plataforma e/ou qualquer de 
			seus parceiros poderão enviar mensagens de e-mail de caráter informativo, referentes a comunicações 
			específicas referentes aos Serviços, bem como outras mensagens de e-mail de natureza comercial, 
			tais como ofertas dos parceiros e novidades na Plataforma Rifa Online Grátis. Caso o USUÁRIO não deseje 
			mais receber referidas mensagens, este poderá solicitar o cancelamento do seu envio, dando total 
			aceite para o uso dos dados ali captados, dentro do que preconiza a LGPD (Lei 13709/2018), em seus artigos, o 
			Marco Civil da Internet (Lei 12965/2014). A empresa organizadora, aqui denominada Direção/Diretoria 
			se amolda de acordo com a legislação vigente, preconizando pela transparência quanto às suas 
		atividades, tratamento de dados, assim como a utilização dos captados.</p>

		<p><b>Parágrafo Segundo:</b> As disposições destes Termos, assim como as de seus anexos, consideradas partes 
			integrantes e complementares deste instrumento, refletem a integridade dos entendimentos e acordos 
		entre as Partes.</p>

		<p><b>Parágrafo Terceiro:</b> Estes Termos são celebrados em caráter irrevogável, e suas obrigações são 
			legais, válidas e vinculativas para as Partes e seus sucessores e herdeiros a qualquer título e 
		exequível de acordo com seus respectivos termos.</p>

		<p><b>Parágrafo Quarto:</b> No caso de qualquer Cláusula, termo ou disposição destes Termos ser considerada 
			nula ou não aplicável, tal nulidade ou inexequibilidade por lei posterior, não afetará quaisquer 
		outras Cláusulas, termos ou disposições aqui contidas, que permanecerão em pleno vigor e efeito.</p>

		<p><b>Parágrafo Quinto:</b> O não exercício de quaisquer direitos ou a concordância com o não cumprimento de 
			quaisquer termos ou condições sob estes Termos não configurará renúncia de quaisquer direitos sob 
			estes Termos nem impedirá a referida Parte de executar ou exercer quaisquer destes direitos a 
		qualquer tempo.</p>

		<p><b>Parágrafo Sexto:</b> Nenhuma tolerância ou atraso de qualquer das Partes em fazer cumprir e exigir o 
			cumprimento dos direitos e obrigações convencionais nestes Termos, constituirá novação nem
			precedente de qualquer natureza. Tal tolerância não prejudicará ou restringirá o exercício dos 
			mesmos direitos e obrigações em situações futuras semelhantes, bem como não isentará, em nenhum 
			caso, qualquer das Partes do integral cumprimento de suas obrigações de acordo com o aqui convencionado e 
		previsto.</p>


		<p><b>Parágrafo Sétimo:</b> As Partes declaram estar atuando de forma independente. A relação contratual aqui 
			acordada não será interpretada como uma joint venture, associação, sociedade, agência, 
			representação comercial ou parceria, sendo que cada uma das Partes manterá independência e 
			autonomia totais no administracao e gerenciamento de seus respectivos negócios/campanhas, assim 
			como permanecem irretocáveis os direitos sob a égide intelectual, seio da construção, condução e 
			alteração da plataforma e marco, sendo a única proprietária, 
			(Direção). Nenhuma das Partes ou seus respectivos representantes e empregados serão, em qualquer 
			hipótese, considerados prepostos ou representantes da outra Parte, e nenhum deles poderá firmar 
		contratos ou avenças em nome da outro Parte, ou obrigar a outra Parte perante terceiros.</p>

		<p><b>Parágrafo Oitavo:</b> Estes Termos não constituem qualquer vínculo de natureza trabalhista e/ou 
			previdenciário entre as Partes ou entre uma Parte e os empregados, prepostos, consultores e 
			eventuais subcontratados, mesmo utilizando-se de outras alcunhas, não sendo taxativas, tais como 
		“afiliados”, “parceiros” e outras hipóteses, atrelados a outra Parte.</p>

		<p><b>Parágrafo Nono:</b> Estes Termos serão regidos pelas leis da República Federativa do Brasil, na 
			ausência dela a condição mais favorável para os pactuantes do presente instrumento, sem intenção de 
		prejudicar quaisquer envolvidos.</p>

	</div>
	<div class="mt-5">
		<h5 class="text-uppercase"><b>Cláusula Décima Primeira- Do Foro de Eleição e Aceite aos Termos Explicitados</b></h5>
		<p>As Partes elegem o Foro da Comarca de São paulo/SP paro dirimir qualquer dúvida ou controvérsia 
			relativa aos presentes Termos, com renúncia expressa de qualquer outro, por mais privilegiado que 
		seja ou que venha a ser.</p>


		<p>Por estarem ajustadas as partes, realizam o aceite, aquiescendo com todas as cláusulas aqui 
			previstas, assim como política de privacidade e os seguintes termos à disposição no site da 
		Plataforma Rifa Online Grátis (https://rifaonlinegrátis.com.br/).</p>

		<p class="mt-5">Santos Negócios Digitais 83.910.422/0001-21</p>
	</div>

	<div class="my-5 d-flex justify-content-start">
		<a class="btn btn-cancel neo-bold me-5" href="{{ request.META.HTTP_REFERER }}">VOLTAR</a>
	</div>

</div> <!-- container -->
{% endblock %}


