{% extends 'base.html' %}
{% load static %}

{% block title %}Tabela da Liga Brasileira{% endblock %}

{% block content %}
<div class="main-content" style="margin-top: 10%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mt-4">Selecione uma Liga</h4>
            </div>
        </div>

        <!-- Botões para selecionar a liga -->
        <div class="row justify-content-center mt-4">
            {% for league in league_data %}
                <div class="col-4 col-md-2 text-center">
                    <button class="btn btn-light league-btn" data-season-id="{{ league.season_2024_id }}">
                        <img src="{{ league.image }}" alt="{{ league.name }}" class="img-fluid">
                        <p>{{ league.name }}</p>
                    </button>
                </div>
            {% endfor %}
        </div>

        <!-- Tabela para exibir as informações da liga -->
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Posição</th>
                                <th>Time</th>
                                <th>Pontos</th>
                                <th>Vitórias</th>
                                <th>Empates</th>
                                <th>Derrotas</th>
                                <th>Gols Marcados</th>
                                <th>Gols Sofridos</th>
                            </tr>
                        </thead>
                        <tbody id="league-table-body">
                            <tr>
                                <td colspan="8" class="text-center">Selecione uma liga para visualizar a tabela</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script para capturar os cliques e fazer requisição AJAX -->
<script>
    document.querySelectorAll('.league-btn').forEach(button => {
        button.addEventListener('click', function() {
            const seasonId = this.getAttribute('data-season-id');
            
            // Faz a requisição AJAX para o servidor Django
            fetch("{% url 'dashboard' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'season_id': seasonId
                })
            })
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('league-table-body');
                tableBody.innerHTML = '';  // Limpa a tabela antes de preencher
                
                if (data.error) {
                    // Exibe mensagem de erro
                    tableBody.innerHTML = `<tr><td colspan="8" class="text-center">${data.error}</td></tr>`;
                } else if (data.league_table.length > 0) {
                    // Preenche a tabela com os dados retornados
                    data.league_table.forEach(team => {
                        const row = `
                            <tr>
                                <td>${team.position}</td>
                                <td>${team.name}</td>
                                <td>${team.points}</td>
                                <td>${team.seasonWins_overall}</td>
                                <td>${team.seasonDraws_overall}</td>
                                <td>${team.seasonLosses_overall}</td>
                                <td>${team.seasonGoals}</td>
                                <td>${team.seasonConceded}</td>
                            </tr>
                        `;
                        tableBody.innerHTML += row;
                    });
                } else {
                    tableBody.innerHTML = '<tr><td colspan="8" class="text-center">Nenhuma tabela disponível para esta liga</td></tr>';
                }
            })
            .catch(error => {
                console.error('Erro:', error);
                const tableBody = document.getElementById('league-table-body');
                tableBody.innerHTML = '<tr><td colspan="8" class="text-center">Erro ao carregar os dados.</td></tr>';
            });
        });
    });

</script>
{% endblock %}
