{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Tabela da Liga Brasileira{% endblock %}

{% block custom_meta %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mt-4">Tabela da Liga Brasileira</h4>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Posição</th>
                                <th>Time</th>
                                <th>Pontos</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if league_data %}
                                {% for team in league_data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td> <!-- Contador para a posição -->
                                        <td>{{ team.name }}</td>
                                        <td>{{ team.points }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="3" class="text-center">Nenhum dado disponível</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
