{% extends 'base.html' %}
{% load static %}

{% block title %}Tabela da Liga Brasileira{% endblock %}

{% block content %}
<div class="main-content" style="margin-top: 10%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mt-4">Selecione uma Liga</h4>
            </div>
        </div>

        <!-- Botões para selecionar a liga -->
        <div class="row justify-content-center mt-4">
            {% for league in league_data %}
                <div class="col-4 col-md-2 text-center">
                    <button class="btn btn-light league-btn" data-season-id="{{ league.season_2024_id|safe }}">
                        <img src="{{ league.image }}" alt="{{ league.name }}" class="img-fluid">
                        <p>{{ league.name }}</p>
                    </button>
                </div>
            {% endfor %}
        </div>
        
        <div id="league-table-container"></div>
    </div>
</div>
    
<script>
    document.querySelectorAll('.league-btn').forEach(button => {
        button.addEventListener('click', function() {
            let seasonId = this.getAttribute('data-season-id');
            seasonId = parseInt(seasonId, 10).toString();
    
            // Faz a requisição AJAX para o servidor Django
            fetch("{% url 'dashboard' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'season_id': seasonId
                })
            })
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('league-table-container'); // Container onde a tabela será inserida
                container.innerHTML = ''; // Limpa o container antes de criar uma nova tabela
    
                // Verificação se os dados da tabela estão disponíveis e se a tabela existe
                if (!data || !data.league_table) {
                    container.innerHTML = '<p class="text-center">Erro ao carregar a tabela. Nenhuma informação disponível.</p>';
                    return;
                }
    
                // Criação da tabela
                const table = document.createElement('table');
                table.classList.add('table', 'table-striped');
    
                // Criar o cabeçalho da tabela (thead)
                const thead = document.createElement('thead');
                thead.classList.add('thead-dark');
                const headerRow = document.createElement('tr');
                
                const headers = ['Posição', 'Time', 'Pontos', 'Vitórias', 'Empates', 'Derrotas', 'Gols Marcados', 'Gols Sofridos'];
                headers.forEach(headerText => {
                    const th = document.createElement('th');
                    th.textContent = headerText;
                    headerRow.appendChild(th);
                });
                thead.appendChild(headerRow);
                table.appendChild(thead);
    
                // Criar o corpo da tabela (tbody)
                const tbody = document.createElement('tbody');
    
                if (data.league_table.length > 0) {
                    // Preenche a tabela com os dados retornados
                    data.league_table.forEach(team => {
                        const row = document.createElement('tr');
    
                        // Adicionar as células da linha
                        const positionCell = document.createElement('td');
                        positionCell.textContent = team.position;
                        row.appendChild(positionCell);
    
                        const nameCell = document.createElement('td');
                        nameCell.textContent = team.name;
                        row.appendChild(nameCell);
    
                        const pointsCell = document.createElement('td');
                        pointsCell.textContent = team.points;
                        row.appendChild(pointsCell);
    
                        const winsCell = document.createElement('td');
                        winsCell.textContent = team.seasonWins_overall;
                        row.appendChild(winsCell);
    
                        const drawsCell = document.createElement('td');
                        drawsCell.textContent = team.seasonDraws_overall;
                        row.appendChild(drawsCell);
    
                        const lossesCell = document.createElement('td');
                        lossesCell.textContent = team.seasonLosses_overall;
                        row.appendChild(lossesCell);
    
                        const goalsScoredCell = document.createElement('td');
                        goalsScoredCell.textContent = team.seasonGoals;
                        row.appendChild(goalsScoredCell);
    
                        const goalsConcededCell = document.createElement('td');
                        goalsConcededCell.textContent = team.seasonConceded;
                        row.appendChild(goalsConcededCell);
    
                        tbody.appendChild(row);
                    });
                } else {
                    const noDataRow = document.createElement('tr');
                    const noDataCell = document.createElement('td');
                    noDataCell.setAttribute('colspan', '8');
                    noDataCell.textContent = 'Nenhuma tabela disponível para esta liga';
                    noDataRow.appendChild(noDataCell);
                    tbody.appendChild(noDataRow);
                }
    
                table.appendChild(tbody);
                container.appendChild(table); // Insere a nova tabela no container
            })
            .catch(error => {
                console.error('Erro:', error);
                const container = document.getElementById('league-table-container');
                container.innerHTML = '<p class="text-center">Erro ao carregar os dados.</p>';
            });
        });
    });
</script>
{% endblock %}
