{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="main-content" id="main-content-container" style="margin-top: 10%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="text-center mt-4">Selecione uma Liga</h4>
            </div>
        </div>

        <!-- Botões para selecionar a liga -->
        <div class="row justify-content-center mt-4">
            {% for league in league_data %}
                <div class="col-4 col-md-2 text-center">
                    <button class="btn btn-light league-btn" data-season-id="{{ league.season_2024_id|safe }}">
                        <img src="{{ league.image }}" alt="{{ league.name }}" class="img-fluid">
                        <p>{{ league.name }}</p>
                    </button>
                </div>
            {% endfor %}
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Competition Name</th>
                    <th>Season</th>
                    <th>suspended_matches</th>
                    <th>homeAttackAdvantage</th>
                    <th>homeDefenceAdvantage</th>
                    <th>homeOverallAdvantage</th>
                    <th>seasonGoals_overall</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                <tr>
                    <td>{{ competition.competition_id }}</td>
                    <td>{{ competition.season }}</td>
                    <td>{{ competition.suspended_matches }}</td>
                    <td>{{ competition.homeAttackAdvantage }}</td>
                    <td>{{ competition.homeDefenceAdvantage }}</td>
                    <td>{{ competition.homeOverallAdvantage }}</td>
                    <td>{{ competition.seasonGoals_overall }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
        
        <div id="league-table-container" class="mt-4"></div>
    </div>
</div>
{% endblock %}
